<header class="pe-proto application-header dark">
    <div class="logo">&nbsp;</div>
    <nav class="nav-links">
        <ul class="pe-list pe-list--unstyled">
            {{>molecules-list-items}}
        </ul>
    </nav>
</header>