&.overview {

  .tagline {
    width: 100%;
    margin: 12px 0 0 0;
  }

  .buttons {
    margin-top: 28px;

    a + a {
      margin-left: 16px;
    }
  }

  .usage_guidelines {
    margin-top: 60px;
  }

  .toc {
    margin-top: 60px;

    padding-bottom: 80px;
    border-bottom: 2px solid $pe-color-alto;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      @extend .pe-title;

      a {
        text-decoration: none;
      }

      li + li {
        margin-top: 16px;
      }
    }
  }

  .features {
    margin-top: 60px;
  }

  .description {
    width: 100%;
    margin: 20px 0 40px;
    @extend .pe-copy;
    @include pe-responsive-breakpoint(md) {
      width: 760px;
    }
  }

  .dependencies {
    margin-top: 40px;
  }

  .other {
    margin-top: 40px;

    padding-bottom: 60px;
    border-bottom: 2px solid $pe-color-alto;
  }


  .info {
    margin: 20px 0;
    width: 100%;
    @include clearfix;
    @include pe-responsive-breakpoint(md) {
      width: 760px;
    }
  }





  .article_info {
    margin-top: 40px;
    @include pe-responsive-breakpoint(md) { width: 760px; }
    @include clearfix;

    .people {
      width: 100%;
      @include pe-responsive-breakpoint(md) {
        width: auto;
        max-width: 370px;
        float: left;
      }
      .person {
        width: 46%;
        margin-left: 4%;
        @include pe-responsive-breakpoint(sm) {
          width: 175px;
          margin-left: 20px;
        }
        margin-bottom: 8px;
        float: left;
      }

      .person:nth-of-type(2n+1) {
        margin-left: 0;
      }
    }
  }
}
