&.overview {
  h2 { @include hl1; }
  h3 { @include hl3; }

  & > div {
    width: 100%;
    @include pe-responsive-breakpoint(md) {
      width: auto;
    }
    @include clearfix;
  }

  .toc {
    width: 100%;
    margin-top: 40px;
    @include pe-responsive-breakpoint(lg) {
      width: 220px;
      margin-top: 0;
    }
    @include pe-responsive-breakpoint(xl) {
      width: 370px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      @extend .pe-title, .pe-title--small;

      a {
        text-decoration: none;
        color: pe-color(hyperdrive);
      }
    }
  }

  .tagline {
    width: 100%;
    margin: 0;
    @include pe-responsive-breakpoint(md) {
      width: 760px;
    }
  }

  .description {
    width: 100%;
    margin: 20px 0 40px;
    @extend .pe-copy;
    @include pe-responsive-breakpoint(md) {
      width: 760px;
    }
  }

  .info {
    margin: 20px 0;
    width: 100%;
    @include clearfix;
    @include pe-responsive-breakpoint(md) {
      width: 760px;
    }
  }

  .feature_list {
    width: 100%;
    @extend .pe-copy;
    @include pe-responsive-breakpoint(md) {
      width: 370px;
      float: left;
    }
    ul {
      @include pe-ulist;
    }
  }

  .usage {
    width: 100%;
    margin-top: 20px;
    @extend .pe-copy;
    @include pe-responsive-breakpoint(md) {
      width: 370px;
      margin: 0 0 0 20px;
      float: left;
    }

    h3 + p {
      margin-top: 0;
    }
  }

  .article_info {
    margin-top: 40px;
    @include pe-responsive-breakpoint(md) { width: 760px; }
    @include clearfix;

    .people {
      width: 100%;
      @include pe-responsive-breakpoint(md) {
        width: auto;
        max-width: 370px;
        float: left;
      }
      .person {
        width: 46%;
        margin-left: 4%;
        @include pe-responsive-breakpoint(sm) {
          width: 175px;
          margin-left: 20px;
        }
        margin-bottom: 8px;
        float: left;
      }

      .person:nth-of-type(2n+1) {
        margin-left: 0;
      }
    }

    .dependencies {
      width: 175px;
      float: left;
      clear: both;
      margin-top: 20px;
      @include pe-responsive-breakpoint(md) {
        margin-left: 20px;
        margin-top: 0;
        clear: none;
      }
    }

    .downloads {
      margin-top: 20px;
      width: 100%;
      clear: both;
      float: left;
      @include pe-responsive-breakpoint(md) {
        width: 175px;
        clear: none;
        margin-left: 20px;
        margin-top: 0;
      }
    }
  }
}
