.section {
  border-bottom: 2px solid pe-color(boring);

  h2 {
    @include hl1;
    margin: 0;
    display: inline-block;
    border: none;
    vertical-align: baseline;
  }

  .js-tag {
    display: inline-block;
    padding: 2px 6px;
    background: #f7df1e;
    color: pe-color(pitch);
    border-radius: 2px;
    @include pe-label;
    @include pe-label-bold;
    margin-bottom: 8px;
    vertical-align: middle;
  }
}
