
.two_column {
  @include pe-responsive-breakpoint(xl) {
    @include make-grid-parent;
  }
}

.text {
  margin-top: 40px;
  margin-bottom: 60px;

  h3 {
    @extend .pe-title, .pe-title--small;
    margin-bottom: 12px;
  }
  * + h3 { margin-top: 40px; }
  h1 + h3,
  h2 + h3 { margin-top: 6px; }

  h4 {
    @extend .pe-label, .pe-label--large;
  }
  h5 {
    @extend .pe-label, .pe-label--bold;
  }

  ul {
    @extend .pe-list, .pe-styled-lists--unordered;

    ul {
      @extend .pe-list, .pe-styled-lists--unordered;
    }

    ol {
      @extend .pe-list, .pe-styled-lists--ordered;
    }

    & + p {
      margin-top: 12px;
    }
  }

  ol {
    @extend .pe-list, .pe-styled-lists--ordered;

    ol {
      @extend .pe-list, .pe-styled-lists--ordered;
    }

    ul {
      @extend .pe-list, .pe-styled-lists--unordered;
    }

    & + p {
      margin-top: 12px;
    }
  }

  // Redline styles
  dl {
    @include clearfix;
    @include pe-responsive-breakpoint(md to lg) {
      display: inline-block;
    }

    dt {
      float: left;
      clear: both;
      width: 40%;
      @include pe-responsive-breakpoint(md to lg) {
        width: 240px;
      }
    }

    dd {
      width: 60%;
      float: left;
      @include pe-responsive-breakpoint(md to lg) {
        width: auto;
        overflow: hidden;
        min-width: 200px;
        float: none;
      }

      ul {
        margin: 0;
        li + li {
          margin-top: 8px;
        }
      }
    }

    dt, dd {
      padding: 10px 0;
      margin: 0;
      @extend .pe-label, .pe-label--small;
      border-top: 1px solid $pe-color-alto;
    }

    dt:first-of-type,
    dd:first-of-type {
      padding-top: 0;
      border-top: none;
    }
  }

  @include pe-responsive-breakpoint(xl) {
    @include make-grid-child(4);
    float: left;
  }

  .feature {
    background-color: $pe-color-digital-ice-blue;
    border-left: 8px solid $pe-color-digital-marine-turquoise;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & + script + .feature {
      margin-top: 10px;
    }

    .dropdown-container {
      width: auto;

      ul {
        z-index: 999;
        right: 0;
      }
    }

    ul {
      padding-left: 0;
      margin: 2px 0 0 0;

      li {
        margin: 0;
      }
    }
  }
}

.content {
  margin-bottom: 60px;
  @include clearfix;

  & > div {
    margin-top: 40px;
  }

  @include pe-responsive-breakpoint(xl) {
    @include make-grid-child(8);
    float: left;
  }

  video {
    width: 100%;
    display: block;
  }

  img {
    width: 100%;
    display: block;
    background-color: $pe-color-white;
  }

  .caption, .caption p {
    @extend .pe-label, .pe-label--small;
    margin-top: 12px;
  }

  @include pe-responsive-breakpoint(md) {
    .image.narrow {
      max-width: 370px;
    }

    .image.ios {
      max-width: 375px;
    }

    .image.android {
      max-width: 360px;
    }

    .narrow {
      float: left;
    }
  }

  @include pe-responsive-breakpoint(md to lg) {
    // if it is a lone image, center it and it's caption
    .image:first-child:nth-last-child(1) {
      margin: 0 auto;
      float: none;
    }
  }

  .media.border {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: 0 0 0 1px $pe-color-alto inset;
    }
  }

  // For code content
  pre {
    @extend .pe-code;
  }

  .text-content {
    width: 100%;
    h3 {
      @extend .pe-title;
    }
    h4 {
      @extend .pe-title, .pe-title--small;
    }
    h5 {
      @extend .pe-label, .pe-label--large;
    }

    ul {
      @extend .pe-list, .pe-styled-lists--unordered;

      ul {
        @extend .pe-list, .pe-styled-lists--unordered;
      }

      ol {
        @extend .pe-list, .pe-styled-lists--ordered;
      }

      & + p {
        margin-top: 12px;
      }
    }

    ol {
      @extend .pe-list, .pe-styled-lists--ordered;

      ol {
        @extend .pe-list, .pe-styled-lists--ordered;
      }

      ul {
        @extend .pe-list, .pe-styled-lists--unordered;
      }

      & + p {
        margin-top: 12px;
      }
    }
  }





  // Generate a bunch of CSS to keep narrow images properly aligned in the
  // various arrangements they can occur in
  $num-images: 10;
  $narrow-selector: '.image.narrow';
  $narrow-gutter: 20px;
  $ios-selector: '.image.ios';
  $ios-gutter: 10px;
  $android-selector: '.image.android';
  $android-gutter: 40px;

  @include pe-responsive-breakpoint(md) {
    @for $i from 1 to $num-images {
      $narrow-build: $narrow-selector;
      $ios-build: $ios-selector;
      $android-build: $android-selector;
      @for $j from 1 to $i {
        $narrow-build: $narrow-build + ' + ' + $narrow-selector;
        $ios-build: $ios-build + ' + ' + $ios-selector;
        $android-build: $android-build + ' + ' + $android-selector;
      }

      @if $i % 2 == 0 {
        #{$narrow-build} {
          margin-left: $narrow-gutter;
          clear: none;
        }

        #{$ios-build} {
          margin-left: $ios-gutter;
          clear: none;
        }

        #{$android-build} {
          margin-left: $android-gutter;
          clear: none;
        }
      } @else {
        #{$narrow-build},
        #{$ios-build},
        #{$android-build} {
          margin-left: 0;
          clear: both;
        }
      }
    }
  }



  .table {
    width: 100%;

    table {
      width: 100%;

      & + table {
        margin-top: 40px;
      }

      td {
        @extend .pe-label;
        border: 1px solid $pe-color-moonlight;
      }

      th, td {
        padding: 10px;
        vertical-align: middle;
      }

      tbody tr:hover {
        background-color: $pe-color-moonlight;
      }
    }
  }

  .colors {
    width: 100%;

    .color {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      & + .color {
        margin-top: 20px;
      }

      .bar {
        @include clearfix;
        z-index: 10;
        position: relative;

        &.border {
          border-bottom: 1px solid rgba(208, 208, 208, 1);
        }
      }

      .name {
        background-color: white;
        @extend .pe-copy--small;
        width: 210px;
        height: 70px;
        float: right;
        box-sizing: border-box;
        padding: 15px;
        z-index: 15;
        position: relative;

        &.border {
          border-top: 1px solid rgba(208, 208, 208, 1);
          border-left: 1px solid rgba(208, 208, 208, 0);
        }

        p {
          margin: 0;
        }
      }

      .details {
        clear: both;
        background-color: white;
        padding: 15px;
        float: left;
        width: 100%;
        z-index: 5;

        h5 {
          margin: 0;
          margin-bottom: 6px;
        }

        .uses {
          padding-right: 210px;
        }

        & > div {
          @extend .pe-copy--small;
          p:first-of-type {
            margin-top: 0;
          }
        }

        .complements {
          margin-left: -15px;
        }

        .complement {
          @include clearfix;
          float: left;
          width: 210px;

          margin-bottom: 15px;
          margin-left: 15px;

          .complement_swatch {
            width: 40px;
            height: 40px;
            float: left;

            &.border {
              border: 1px solid pe-color(hairline-gray);
            }

            & + p {
              padding-left: 10px;
            }
          }

          p {
            float: left;
            margin: 0;
            @extend .pe-copy--small;
          }
        }
      }
    }
  }
}
