.pe-proto {
  &.tag {
	@include flex;
	background-color: $neutral-four;
	padding:.5em 1em;
	border-radius: .2em;
	
	.pe-label {
	  max-width: 250px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	
	.action {
	  margin-left:.5em;
	}
  }
}