.pe-proto {
  &.pe-radio {
	margin:0 0 0.75em 0;
  
	input[type="radio"] {
	  display:none;
	}
  
	input[type="radio"] + label span {
	  margin-right:em(12);
	  display:inline-block;
	  width:18px;
	  height:18px;
		
	  vertical-align:middle;
	  cursor:pointer;

	}
  
	input[type="radio"] + label span {
	  background-image:url('../../images/radio-off.svg');
	  background-position: 0px -1px
	}
  
	input[type="radio"]:focus + label span {
	  background-image:url('../../images/radio-off-focus.svg');
	  background-position: 0px -1px
	}
  
	input[type="radio"]:checked + label span{
	  background-image:url('../../images/radio-on.svg');
	  background-position: 0px -1px
	}
	
  }
  
}

  
