{{# showHeadingTitle }}<h2 id="{{ url }}">{{ title }}</h2>{{/ showHeadingTitle }}
<div class="usage-content-box">
    <div>
        {{{ html }}}
    </div>
    <div class="media-list">
        {{# showImage }}
            {{# imageList }}
                <div class="img-{{ size }}">
                    <img src="{{ componentImagePath }}{{ url }}" alt="title">
                </div>
            {{/ imageList }}
        {{/ showImage }}

        {{# showVideo }}
            {{# videoList }}
                <div class="video text-align-center">
                    <video src="{{ url }}" loop="" controls=""></video>
                    <label class="pe-copy pe-copy--small">{{ caption }}</label>
                </div>
            {{/videoList}}
        {{/ showVideo }}
        <div class="media-fulllist">
            {{# showList }}
                {{# list }}
                    <div class="list">
                        <h3> {{ title }} </h3>
                        <ul class="pe-list pe-styled-lists--unordered">
                            {{# listItems }}
                            <li>{{ item }}{{# subList }}<ul>{{# list }}<li>{{ item }}</li>{{/list}}</ul>{{/subList}}</li>
                            {{/ listItems }}
                        </ul>
                    </div>
                {{/ list }}
            {{/showList}}
        </div>
    </div>
</div>
{{# redlineTable }}
    <table class="pe-proto">
        <thead>
        <tr>
            <th>Available Styles</th>
            <th>Reference As</th>
        </tr>
        </thead>
        <tbody>
        {{# tableRow }}
            <tr>
                <td>{{ cellOne }}</td>
                <td>{{ cellTwo }}</td>
            </tr>
        {{/ tableRow }}
        </tbody>
    </table>
{{/ redlineTable }}
