{{# showLink }}<a href="{{ url }}">{{ label }}</a>{{/ showLink }}
{{# showLabel }}<strong>{{ label }}</strong>{{/ showLabel }}
<ul class="pe-list pe-list--unstyled margin-bottom-double">
    {{# changeList }}
        <li>{{ label }}</li>
    {{/ changeList }}
</ul>