<div class='pe-template__double' style='background:magenta;'>
    <div class='pe-template__double--main'>
        <h6 style='background:cyan;text-align:center;height:40px;'>Content Area</h6>
    </div>
    <div class="pe-template__double--sidebar">
        <h6 style='background:cyan;text-align:center;height:40px;'>Sidebar Area</h6>
    </div>
</div>