.pe-btn {
  @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-border,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-border,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $pe-btn-default-font-weight,
    $pe-btn-default-active-shadow
  );

  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: $pe-btn-font-size;
  height: $pe-btn-height;
  line-height: $pe-btn-height;
  padding: $pe-btn-padding;

}

.pe-btn--primary {
  @include pe-btn(
    $pe-btn-primary-bg,
    $pe-btn-primary-border,
    $pe-btn-primary-text,
    $pe-btn-primary-hover-bg,
    $pe-btn-primary-hover-border,
    $pe-btn-primary-hover-text,
    $pe-btn-primary-disabled-bg,
    $pe-btn-primary-disabled-text,
    $pe-btn-primary-font-weight,
    $pe-btn-primary-active-shadow
  );

  &:focus {
    outline: 1px black dotted;
  }
}

.pe-btn--link {
  @include pe-btn(
    $pe-btn-link-bg,
    $pe-btn-link-border,
    $pe-btn-link-text,
    $pe-btn-link-hover-bg,
    $pe-btn-link-hover-border,
    $pe-btn-link-hover-text,
    $pe-btn-link-disabled-bg,
    $pe-btn-link-disabled-text
  );

  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: 1px black dotted;
  }
}

.pe-btn--inverse-link {
  @include pe-btn(
    $pe-btn-link-bg,
    $pe-btn-link-border,
    $pe-btn-inverse-link-text,
    $pe-btn-link-hover-bg,
    $pe-btn-link-hover-border,
    $pe-btn-inverse-link-hover-text,
    $pe-btn-link-disabled-bg,
    $pe-btn-link-disabled-text
  );

  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: 1px black dotted;
  }
}

.pe-btn--small {
  height: $pe-btn-small-height;
  line-height: $pe-btn-small-height;
  font-size: $pe-btn-small-font-size;
  padding: $pe-btn-small-padding;
}

.pe-btn--medium {
  height: $pe-btn-medium-height;
  line-height: $pe-btn-medium-height;
  font-size: $pe-btn-medium-font-size;
  padding: $pe-btn-medium-padding;
}

.pe-btn--large {
  height: $pe-btn-large-height;
  font-size: $pe-btn-large-font-size;
  line-height: $pe-btn-large-height;
  padding: $pe-btn-large-padding;
}
