// Typography (taken from _reset.scss)
//

// Remove top margins from headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

// Set heading following an level 1 heading a top margin of 40px
h1 {
  @include pe-heading-level1;
}

h2 {
  @include pe-heading-level2;
}

h3 {
  @include pe-heading-level3;
}

h4 {
  @include pe-heading-level4;
}

h5 {
  @include pe-heading-level5;
}

h6 {
  @include pe-heading-level6;
}

// small tags within headings
//

h1,
h2,
h3,
h4,
h5,
h6 {
  small {
    font-size: $pe-text-heading-small-font-size;
    color: $pe-text-heading-small-color;
  }
}


aside {
  margin-bottom: $pe-aside-margin;
  padding: $pe-aside-padding;
  background: $pe-aside-bg;
  border-left: $pe-aside-border-left;

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 0.8rem;
  }
}

// to be replaced
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 35px;
  border-collapse: collapse;

  th,
  td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid $pe-table-border-color;
    text-align: left;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $pe-table-border-color;
    border-top: 0px none;
  }

  tbody + tbody {
    border-bottom: 2px solid $pe-table-border-color;
  }
}

// Links (taken from _type.scss)
//

a {
  color: $pe-link-color;
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    color: $pe-link-hover-color;
    text-decoration: none;
  }
}

// Body copy
//
body {
  @include pe-copy;
}

p {
  @include pe-paragraph;
}

// Inline text
//

ins {
  &:before {
    content: '+';
  }

  &:after {
    content: '+';
  }
}

mark {
  background: $pe-text-mark-bg;
}

s {
  color: $pe-text-strikethrough-color;
}

small {
  font-weight: $pe-text-small-font-weight;
  font-size: $pe-text-small-font-size;
  line-height: $pe-text-small-line-height;
}

sub,
sup {
  font-size: 90%;
}

sub {
  top: 0.2rem;
}

sup {
  top: -0.2rem;
}

// Code
//

pre,
code,
kbd {
  font-family: pe-font-family(default-monospace);
}
