@mixin pe-lead {
  color: $pe-lead-color;
  font-weight: $pe-lead-font-weight;
  font-size: $pe-lead-font-size;
  line-height: $pe-lead-line-height;

  @include pe-responsive-breakpoint(sm) {
    font-weight: $pe-lead-sm-font-weight;
    font-size: $pe-lead-sm-font-size;
    line-height: $pe-lead-sm-line-height;
  }
}

@mixin pe-title {
  color: $pe-title-color;
  font-weight: $pe-title-font-weight;
  font-size: $pe-title-font-size;
  line-height: $pe-title-line-height;
  border-bottom: $pe-title-border-bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include pe-responsive-breakpoint(sm) {
    font-size: $pe-title-sm-font-size;
    line-height: $pe-title-sm-line-height;
  }
}

@mixin pe-title-large {
  font-size: $pe-title-large-font-size;
  line-height: $pe-title-large-line-height;

  @include pe-responsive-breakpoint(sm) {
    font-size: $pe-title-large-sm-font-size;
    line-height: $pe-title-large-sm-line-height;
  }
}

@mixin pe-title-extra-large {
  font-size: $pe-title-extra-large-font-size;
  line-height: $pe-title-extra-large-line-height;

  @include pe-responsive-breakpoint(sm) {
    font-size: $pe-title-extra-large-sm-font-size;
    line-height: $pe-title-extra-large-sm-line-height;
  }
}

@mixin pe-label {
  color: $pe-label-color;
  font-size: $pe-label-font-size;
  line-height: $pe-label-line-height;
  font-weight: $pe-label-font-weight;
}

@mixin pe-label-inverse {
  color: $pe-label-inverse-color;
  font-weight: $pe-label-inverse-font-weight;
}

@mixin pe-label-secondary {
  color: $pe-label-secondary-color;
}

@mixin pe-label-secondary-inverse {
  color: $pe-label-secondary-inverse-color;
}

@mixin pe-label-small {
  font-size: $pe-label-small-font-size;
  line-height: $pe-label-small-line-height;
}

@mixin pe-label-large {
  font-size: $pe-label-large-font-size;
  line-height: $pe-label-large-line-height;
}

@mixin pe-label-bold {
  font-weight: $pe-label-bold-font-weight;
}

@mixin pe-list-inline {
  @include pe-list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}


@mixin pe-code {
  font-family: pe-font-family(default-monospace);
  font-size: $pe-code-font-size;
  color: $pe-code-color;
  background-color: $pe-code-bg;
  line-height: $pe-code-line-height;
}

@mixin pe-code-inline {
  padding-left: $pe-code-inline-padding;
  padding-right: $pe-code-inline-padding;
  background-color: $pe-code-inline-bg;
  font-family: pe-font-family(default-monospace);
}

@mixin pe-list {
  color: $pe-list-color;
  font-size: $pe-list-font-size;
  font-weight: $pe-list-font-weight;
  line-height: $pe-list-line-height;
  margin-bottom: $list-style-margin-bottom;
  padding-left: $list-style-first-padding-left;
}

// Body copy (as a class, from reset)
//

.pe-copy {
  @include pe-copy;
}

.pe-copy--small {
  @include pe-copy--small;
}

.pe-paragraph {
  @include pe-paragraph;
}

.pe-paragraph--last {
  @include pe-paragraph--last;
}

// Leads
//

.pe-lead {
  @include pe-lead;
}

// Titles
//

.pe-title {
  @include pe-title;
}

.pe-title--large {
  @include pe-title-large;
}

.pe-title--extra-large {
  @include pe-title-extra-large;
}

// Labels
//

.pe-label {
  @include pe-label;

  &.pe-label--inverse {
    @include pe-label-inverse;
  }
}

.pe-label--secondary {
  @include pe-label-secondary;

  &.pe-label--inverse {
    @include pe-label-secondary-inverse;
  }
}

.pe-label--small {
  @include pe-label-small;
}

.pe-label--large {
  @include pe-label-large;
}

.pe-label--bold {
  @include pe-label-bold;
}

// Lists
//

.pe-list {
  color: #231f20;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.375rem;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-left: 26px;
}

.pe-list.pe-styled-lists--ordered {
  list-style-type: decimal;
}

.pe-list.pe-styled-lists--ordered ol {
  list-style-type: lower-alpha;
  padding-left: 20px;
}

.pe-list.pe-styled-lists--ordered ol ol {
  list-style-type: lower-roman;
}

.pe-list.pe-styled-lists--unordered {
  list-style-type: disc;
}

.pe-list.pe-styled-lists--unordered ul {
  list-style-type: circle;
  padding-left: 20px;
}

.pe-list.pe-styled-lists--unordered ul ul {
  list-style-type: square;
}

.pe-list.pe-styled-lists-heading--ordered {
  list-style-type: decimal;
  margin-top: 0;
}

.pe-list.pe-styled-lists-heading--ordered ol {
  list-style-type: lower-alpha;
  padding-left: 20px;
}

.pe-list.pe-styled-lists-heading--ordered ol ol {
  list-style-type: lower-roman;
}

.pe-list.pe-styled-lists-heading--unordered {
  list-style-type: disc;
  margin-top: 0;
}

.pe-list.pe-styled-lists-heading--unordered ul {
  list-style-type: circle;
  padding-left: 20px;
}

.pe-list.pe-styled-lists-heading--unordered ul ul {
  list-style-type: square;
}

.pe-list--unstyled {
  @include pe-list-unstyled;
}

// Headings
//

.pe-heading-level1 {
  @include pe-heading-level1;
}

.pe-heading-level2 {
  @include pe-heading-level2;
}

.pe-heading-level3 {
  @include pe-heading-level3;
}

.pe-heading-level4 {
  @include pe-heading-level4;
}

.pe-heading-level5 {
  @include pe-heading-level5;
}

.pe-heading-level6 {
  @include pe-heading-level6;
}

// Code
//

.pe-code {
  @include  pe-code;
}

.pe-code-inline {
  @include  pe-code-inline;
}

.pe-kbd {
  @include  pe-code-inline;
}
