<div class="pe-proto tab-container">
    {{> molecules-basic-tabs }}
    <div class="tab-container-content">
        <h3 class="pe-title pe-title--small"><b>Tab Content</b></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie accumsan ullamcorper. Morbi in urna posuere, lobortis massa auctor, dignissim libero. Aliquam blandit eget nisi ac pellentesque. Nunc ut accumsan metus. </p>
    </div>
</div>