<div class="swatch">
    <div class="neutral-bg">
        <p class="white">$neutral</p>
        <p class="black">$neutral</p>
    </div>
    <div class="neutral-two-bg">
        <p class="white">$neutral-two</p>
        <p class="black">$neutral-two</p>
    </div>
    <div class="neutral-three-bg">
        <p class="white">$neutral-three</p>
        <p class="black">$neutral-three</p>
    </div>
    <div class="neutral-four-bg">
        <p class="white">$neutral-four</p>
        <p class="black">$neutral-four</p>
    </div>
    <div class="neutral-five-bg">
        <p class="white">$neutral-five</p>
        <p class="black">$neutral-five</p>
    </div>
</div>