_site
.DS_Store
.idea/
.sass-cache/
.idea

.jekyll-metadata
.bundle/config

node_modules/*
!node_modules/pearson-elements
!node_modules/pearson-compounds
!node_modules/react/dist/react.min.js
!node_modules/react-dom/dist/react-dom.min.js
