body {
  font-family: "open-sans";
}
.alert {
  width: 100%;
  background-color: yellow;
  text-align: center;
  padding: 10px 0;
  font-style: italic;
  font-weight: bold;
  color: #555;
}
.hero {
  text-align: center;
}
.hero .welcome {
  font-family: lobster;
  font-size: 64px;
  color: #888;
}
.hero .to {
  font-size: 18px;
  font-weight: normal;
}
.hero .name {
  font-size: 56px;
  font-style: italic;
  font-weight: 100;
  color: #333;
}


.contents {
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
}

.contents .section {
  display: inline-block;
  width: 30%;
  min-width: 260px;
  vertical-align: top;
}

.contents .section header {
  font-size: 24px;
  color: #444;
}

.contents .section ul {
  list-style-type: none;
  padding: 0;
}

.contents .section a {
  color: #444;
}

.contents .section a:hover {
  text-decoration: none;
}

.contents:after {
  content: "";
  width: 100%;
  display: inline-block;
}

.library {
  width: 80%;
  margin: 0 10%;
}

.component > div {
  width: 100%;
  box-sizing: border-box;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px;
  margin: 20px 0;
}

.component > div:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.component {
  color: #444;
  text-decoration: none;
}

.component .left {
  float: left;
}
.component .right {
  float: right;
}

.component .status {
  margin-left: 20px;
  width: 40%;
  min-width: 100px;
  display: inline-block;
  text-align: right;
}
