<div class="pe-proto pe-radio">
    <input type="radio" id="radio01" name="radio" />
    <label for="radio01"><span></span>Radio Button 1</label>
</div>

<div class="pe-proto pe-radio">
    <input type="radio" id="radio02" name="radio" />
    <label for="radio02"><span></span>Radio Button 2</label>
</div>

