<div class="pe-proto dropdown">
    <div class="action-container">
        <div class="pe-label">Default UI Text</div>
        {{> atoms-single-icon(icon: "pivot-open-24")}}
    </div>
    <ul class="pe-list pe-list--unstyled">
        <li>Option One</li>
        <li>Option Two</li>
        <li>Option Three</li>
    </ul>
</div>