<nav class="side-menu" aria-label="Site menu">
    <div class="menu-title">
        <div>
            <button id="openMainMenu2" class="mobile-menu-in-bar">
                <span id="sr-menu2" class="sr-only">Menu</span>
                <span id="barsInMenu" class="fa fa-bars fa-2x" title="Menu" aria-hidden="true"></span>
            </button>
        </div>
        <div><h1 class="pe-label--bold">UX Framework</h1></div>
    </div>
    {{# navigation }}
    <ul class="pe-list pe-list--unstyled nav-list">
        <li>
            <div role="group" aria-labelledby="menu_compounds" id="compounds_list" class="o-panel--open">
                <ul class="pe-list pe-list--unstyled">
                    {{# main }}
                        <li><a tabindex="0" id="{{ label }}" href="{{ url }}" data-focused="false">{{ label }}</a></li>
                    {{/ main }}
                </ul>
            </div>
        </li>
    </ul>
    <ul id="dropdownNav" class="pe-list pe-list--unstyled nav-list">
        {{# items }}
        <li>
            <button id="{{ label }}" name="menu" type="button" aria-expanded="false" aria-controls="compounds_list" data-title="{{ label }}" data-focused="false">{{ label }}</button>
            <div role="group" aria-labelledby="menu_compounds" id="compounds_list" class="o-panel--open">
                <ul class="pe-list pe-list--unstyled dropdown-list">
                    {{# itemList }}
                        <li><a id="{{ id }}" href="{{ url }}" data-focused="false">{{ label }}</a></li>
                    {{/ itemList }}
                </ul>
            </div>
        </li>
        {{/ items }}
    </ul>
    {{/ navigation }}
</nav>

