<div class="hero">
    <div class="hero-content">
        <h1>{{ header.title }}</h1>
        <p>{{ header.excerpt }}</p>
        <a href="{{ header.url }}">{{ header.link-text }}</a>
    </div>
</div>