.nav-list {
  padding: 1em 3em;
  border-bottom:1px solid $border;
  .pe-list {
	&:not(.dropdown-list) {
	  padding-left:0;
	  font-weight:600;
	}
	
	a {
	  color:$neutral-two;
	  text-decoration: none;
	
	  &:hover {
		color:$primary;
		text-decoration: underline;
	  }
	}
  }
  [type="button"] {
	border:0;
	appearance: none;
	background: none;
	font-weight: 600;
	padding-left: 0;
  }
}
