.nav-list {
  padding: 1em;
  border-bottom:1px solid $border;
	&.pe-list--unstyled {
	  ul {
		padding-left:0 !important;
	  }
	}
  .pe-list {
	&:not(.dropdown-list) {
	  padding-left:0;
	  font-weight:600;
	}
	li {
	  margin-bottom:12px;
	  padding-left:0;
	  &:last-child {
		margin-bottom:2em;
	  }
	}
	a {
	  color:$neutral-two;
	  text-decoration: none;
	  font-size: 14px;
	
	  &:hover {
		color:$primary;
		text-decoration: underline;
	  }
	}
  }
  [type="button"] {
	border:0;
	appearance: none;
	background: none;
	font-weight: 600;
	padding-left: 0;
	font-size: 14px;
  }
  [aria-expanded="false"] {
	+ div {
	  display:none;
	}
  }
}

.side-menu {
  .menu-title {
	@include flex($justify-content: flex-start);
	width:100%;
	border-bottom: 1px solid $border;
  }
  .mobile-menu-in-bar {
	padding:1em;
	color:$primary;
  }
  h1 {
	color:$primary;
	font-size:em(20);
	margin-bottom:0;
  }
  button {
	appearance: none;
	background:none;
	border:0;
	
	svg {
	  fill: $primary;
	}
	
  }
}