  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script src="../../js/dist/main.js"></script>
  <script>
      if (!document.getElementById('pe-icons-sprite')) {
          var pe_ajax=new XMLHttpRequest();
          pe_ajax.open("GET", "../../images/p-icons-sprite-1.1.svg", true);
          pe_ajax.responseType="document";
          pe_ajax.onload=function(e) {
              document.body.insertBefore(
                      pe_ajax.responseXML.documentElement,
                      document.body.childNodes[0]
              );
          };
          pe_ajax.send();
      }
  </script>
  </body>
</html>
