<ul class="pe-list pe-list--unstyled">
    <li>One</li>
    <li>Two</li>
    <li>Three
        <ul class="pe-list pe-list--unstyled">
            <li>Three-One</li>
            <li>Three-Two</li>
            <li>Three-Three</li>
        </ul>
    </li>
</ul>