.pe-proto {
  &.progress-bar {
	.pe-label {
	  margin-bottom: 8px;
	}
	.bar-container {
	  height:20px;
	  border:1px solid $primary;
	  background:$neutral;
	}
	.bar {
	  @include box-size(50%, 20px);
	  margin-top:-1px;
	}
  }
}
