<div class="modal-container">
    <div class="pe-proto modal">
        <div class='pe-template__static-large'>
            <div class="modal-title">
                <h3 class="pe-title">{{modal.text.title}}</h3>
                {{> atoms-single-icon(icon:"remove-lg-18") }}
            </div>
            <div class="modal-content">
                <p>{{modal.text.content}}</p>
            </div>
            <div class="actions">
                {{> atoms-default-btn(btn-text:"Standard")}}
                {{> atoms-primary-btn(btn-text:"Primary")}}
            </div>
        </div>
    </div>
</div>
