.pe-proto {
  &.coachmark {
    @include box-size(300px, 100%);
    @include box-shadow;
    
    position: relative;
    background-color: #fff;
    border-radius:4px;
    z-index: 2;
    
    .content {
      width:100%;
      border-radius:4px;
      padding:em(20);
      background:#fff;
      position:relative;
      z-index:2;
      
      .coach-link {
        display:flex;
        justify-content:flex-end;
      }
    }
    .title-container {
      @include flex;
      margin-bottom: 1.25em;
    }
  }
  
}


.arrow {
  @include box-size(0, 0);
  position: absolute;
  left: 50px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  filter: drop-shadow(0 -2px 10px #AAA);
  z-index: -1;
  
  &.top {
    top: -18px;
  }
  
  &.bottom {
    transform: rotate(180deg);
    bottom: -18px;
  }
  &.left {
    transform: rotate(-90deg);
    left:-29px;
    top:50px;
  }
  &.right {
    transform: rotate(90deg);
    left:289px;
    top:50px;
  }
  
  @media (max-width:480px){
    display:none;
  }
}


