<div class="pe-proto alert-box error">
    <div class="alert-title">
        <div class="pe-label">{{alert.error.label}}</div>
        {{> atoms-single-icon(icon: "remove-lg-18") }}
    </div>
    <div class="alert-content">
        <p class="pe-paragraph--last">{{alert.error.content}}.</p>
    </div>
</div>