.pe-proto {
  &.tabs {
	border-bottom:1px solid $neutral;
	margin:0 em(32);
	
	ul {
	  margin:0;
	  padding:0;
	  list-style-type: none;
	  margin-bottom:10px;
	  @include flex($justify-content: flex-start);
	  
	  li {
		margin-right:em(48);
		a {
		  text-decoration: none;
		  color:#000;
		  padding-bottom:5px;
		  
		  &.active {
			border-bottom:5px solid $primary;
		  }
		  &:hover {
			color:$primary;
		  }
		  &.disabled {
			color:$neutral-four
		  }
		}
	  }
	}
  }
  &.tab-container {
	border: 1px solid $neutral;
	.tabs {
	  background-color:$primary-four;
	  margin:0;
	  padding: 0 em(32);
	  padding-top: em(10);
	}
	.tab-container-content {
	  margin:1em;
	  margin-top:2em;
	}
  }
}
