////
/// @group o-header
/// @link https://origami.pearsoned.com/registry/components/o-header
////

// Color palettes
// TODO: replace with o-colors
$o-header-gray-5:  oHeaderMakeGrayColor(5%);
$o-header-gray-10: oHeaderMakeGrayColor(10%);
$o-header-gray-20: oHeaderMakeGrayColor(20%);
$o-header-gray-30: oHeaderMakeGrayColor(30%);
$o-header-gray-40: oHeaderMakeGrayColor(40%);
$o-header-gray-50: oHeaderMakeGrayColor(50%);
$o-header-gray-60: oHeaderMakeGrayColor(60%);
$o-header-gray-70: oHeaderMakeGrayColor(70%);
$o-header-gray-80: oHeaderMakeGrayColor(80%);
$o-header-gray-90: oHeaderMakeGrayColor(90%);

// Basics
$o-header-sprite-height: 16px !default;
$o-header-height: 54px !default;
$o-header-height-mobile: 44px !default;
$o-header-padding-horizontal: 15px !default;
$o-header-bg: #000000 !default;
$o-header-text-color: #ffffff !default;
$o-header-base-font-size: 14px !default;

// Links
$o-header-link-color: $o-header-gray-20 !default;
$o-header-link-hover-color: $o-header-gray-5 !default;

// Nav
$o-header-nav-link-active-bg: $o-header-gray-70 !default;
$o-header-nav-link-line-height: 20px !default;
$o-header-nav-link-padding: 15px !default;

// Dropdown menus
$o-header-dropdown-menu-item-height: 44px !default;
$o-header-dropdown-menu-bg: $o-header-gray-70 !default;
$o-header-dropdown-menu-hover-bg: $o-header-gray-60 !default;

// z-index
$o-header-z-index: 1000 !default;

/// Responsive breakpoints

// Phone
$o-header-phone-sm-max: 479px !default;
$o-header-phone-min: $o-header-phone-sm-max + 1 !default;
$o-header-phone-max: 767px !default;

// Tablet
$o-header-tablet-min: $o-header-phone-max + 1 !default;
$o-header-tablet-max: 1023px !default;

// Desktop
$o-header-desktop-min: 1024px !default;

// Width at which dropdown menu items fill the viewport width
$o-header-dropdown-menu-items-breakpoint: 479px !default;

// Width at which the height changes
$o-header-height-breakpoint: $o-header-desktop-min !default;

/// Theme: light

$o-header-bg-light: $o-header-gray-5 !default;

// Links
$o-header-link-color-light: #000000 !default;
$o-header-link-hover-color-light: lighten($o-header-link-color-light, 35%) !default;

// Nav
$o-header-nav-link-active-bg-light: $o-header-gray-10 !default;

// Dropdown menus
$o-header-dropdown-menu-bg-light: $o-header-gray-10 !default;
$o-header-dropdown-menu-hover-link-color-light: #ffffff !default;
$o-header-dropdown-menu-hover-bg-light: $o-header-gray-60 !default;
