////
/// @group o-header
/// @link http://registry.origami.ft.com/components/o-header
////

.o-header--theme-light {
	background-color: $o-header-bg-light;

	.o-header__nav-item {
		> a {
			@include nav-link-light;
		}
	}

	.o-header__nav-item--active {
		background-color: $o-header-nav-link-active-bg-light;
	}

	.o-header__logo--pearson,
	.o-header__tagline--always-learning {
		background-clip: content-box;
		padding: (($o-header-height-mobile - $o-header-sprite-height) / 2) 0;

		@media (min-width: $o-header-desktop-min) {
			padding: (($o-header-height - $o-header-sprite-height) / 2) 0;
		}
	}

	.o-header__logo--pearson {
		background-position: right (($o-header-height-mobile - $o-header-sprite-height) / 2) - $o-header-sprite-height;

		@media (min-width: $o-header-desktop-min) {
			background-position: right (($o-header-height - $o-header-sprite-height) / 2) - $o-header-sprite-height;
		}
	}

	.o-header__tagline--always-learning {
		background-position: left (($o-header-height-mobile - $o-header-sprite-height) / 2) - $o-header-sprite-height;

		@media (min-width: $o-header-desktop-min) {
			background-position: left (($o-header-height - $o-header-sprite-height) / 2) - $o-header-sprite-height;
		}
	}

	.o-dropdown-menu {
		> a {
			@include nav-link-light;
		}
	}

	.o-dropdown-menu--expanded {
		> a {
			background-color: $o-header-dropdown-menu-bg-light;
		}

		> a::after {
			background-color: $o-header-bg-light;
			border-bottom: solid 2px $o-header-gray-30;
		}
	}

	.o-dropdown-menu__menu-items {
		background-color: $o-header-dropdown-menu-bg-light;
	}

	.o-dropdown-menu__menu-item {
		> a {
			color: $o-header-link-color-light;

			// scss-lint:disable NestingDepth
			&:hover,
			&:focus {
				color: $o-header-dropdown-menu-hover-link-color-light;
				background-color: $o-header-dropdown-menu-hover-bg-light;
			}
		}
	}
}
