<div class="pe-proto slim-editor">
    <div class="item">
        <span class="fa fa-bold fa-lg" aria-hidden="true"></span>
    </div>
    <div class="item">
        <span class="fa fa-italic fa-lg" aria-hidden="true"></span>
    </div>
    <div class="item">
        <span class="fa fa-underline fa-lg" aria-hidden="true"></span>
    </div>
    <div class="item">
        <span class="fa fa-image fa-lg" aria-hidden="true"></span>
    </div>
    <div class="item">
        <span class="fa fa-table fa-lg" aria-hidden="true"></span>
    </div>
    <div class="item">
        <span class="fa fa-link fa-lg" aria-hidden="true"></span>
    </div>
    <div class="item">
        <span class="fa fa-magic fa-lg" aria-hidden="true"></span>
    </div>

    {{#close}}
        <div class="item close">
            {{> atoms-icon-btn(icon: "remove-sm-24") }}
        </div>
    {{/close}}
</div>