<div class="swatch">
    <div class="secondary-bg">
        <p class="white">$secondary</p>
        <p class="black">$secondary</p>
    </div>
    <div class="secondary-two-bg">
        <p class="white">$secondary-two</p>
        <p class="black">$secondary-two</p>
    </div>
    <div class="secondary-three-bg">
        <p class="white">$secondary-three</p>
        <p class="black">$secondary-three</p>
    </div>
</div>