<div class="swatch">
    <div class="condition-one-bg">
        <p class="white">$condition-one</p>
        <p class="black">$condition-one</p>
    </div>
    <div class="condition-two-bg">
        <p class="white">$condition-two</p>
        <p class="black">$condition-two</p>
    </div>
</div>