<script>
  var createFunctionWithTimeout = function(callback, opt_timeout) {
    var called = false;
    function fn() {
      if (!called) {
        called = true;
        callback();
      }
    }
    setTimeout(fn, opt_timeout || 1000);
    return fn;
  }

  var trackLink = function(url, name) {
    ga('send', 'event', 'component-downloads', 'download', (name ? name + ' - ' + url : url), {
      transport: 'beacon',
      hitCallback: createFunctionWithTimeout(function(){ document.location = url; })
    });
  }
</script>

<div class="top-level-content">

  {% if page.version contains 'beta' and page.status == 'active' %}
    <div class="banner warn">This version has not been approved yet. <a href="./..">Go to the latest approved version</a>.</div>
  {% endif %}

  {% if page.status != 'active' %}
    <div class="banner warn">This version is outdated. <a href="./..">Go to the latest approved version</a>.</div>
  {% endif %}

  {% if page.status == 'active' %}
    {% unless page.version contains 'beta' %}
      {% assign active_pages = site.pages | where: 'title', page.title | where: 'status', 'active' %}

      {% for active_page in active_pages %}
        {% if active_page.version contains 'beta' %}
          <div class="banner info">There is a proposed update to this component. <a href="{{site.baseurl}}{{active_page.url}}">Check out the latest proposed version</a>.</div>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endunless %}
  {% endif %}


  <div class="blocks">
    <div class="block article_header">
      <h1 class="pe-page-title">{{page.title}}</h1>
      <span class="pe-label pe-label--large {% if page.version contains 'beta' %}beta{% endif %}">v{{page.version}}</span>

      <div class="buttons">
        {% include uikit-download.html %}

        {% if page.implementation %}
          <a href="{{ page.implementation }}" class="pe-btn__primary--btn_large code">
            <svg style="vertical-align: baseline;"
                 aria-hidden="true"
                 focusable="false"
                 viewBox="0 0 22 18"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 class="pe-icon--code-18">
             <path d="M6.70526173,14.7060005 C7.09874655,14.3160005 7.09674408,13.6830005 6.70726419,13.2920005 L2.41597679,8.99900048 L6.70726419,4.70600048 C7.09774531,4.31500048 7.09774531,3.68300048 6.70626296,3.29200048 C6.31377937,2.90200048 5.68099971,2.90300048 5.28951735,3.29300048 L0.292360225,8.29200048 C0.0971196636,8.48800048 -3.12638804e-13,8.74300048 -3.12638804e-13,8.99900048 C-3.12638804e-13,9.25500048 0.0971196636,9.51000048 0.292360225,9.70600048 L5.28951735,14.7050005 C5.68099971,15.0960005 6.31377937,15.0960005 6.70526173,14.7060005 Z" id="icon"></path>
             <path d="M15.2947383,14.7060005 C14.9012535,14.3160005 14.9032559,13.6830005 15.2927358,13.2920005 L19.5840232,8.99900048 L15.2927358,4.70600048 C14.9022547,4.31500048 14.9022547,3.68300048 15.293737,3.29200048 C15.6862206,2.90200048 16.3190003,2.90300048 16.7104826,3.29300048 L21.7076398,8.29200048 C21.9028803,8.48800048 22,8.74300048 22,8.99900048 C22,9.25500048 21.9028803,9.51000048 21.7076398,9.70600048 L16.7104826,14.7050005 C16.3190003,15.0960005 15.6862206,15.0960005 15.2947383,14.7060005 Z" id="icon"></path>
             <path d="M13.3718,3.073 C12.8568,2.865 12.2768,3.117 12.0718,3.631 L8.0718,13.629 C7.8668,14.141 8.1158,14.723 8.6288,14.928 C8.7508,14.977 8.8758,15 8.9998,15 C9.3968,15 9.7718,14.762 9.9288,14.371 L13.9288,4.373 C14.1338,3.86 13.8848,3.278 13.3718,3.073" id="icon"></path>
            </svg>
            Code
          </a>
        {% else %}
          <button disabled class="pe-btn--btn_large">Code pending</button>
        {% endif %}
      </div>
    </div>

    <div class="block overview">

      <div class="left">

        <p class="pe-copy pe-copy--large tagline">{{page.tagline}}</p>

        <div class="buttons">
          {% include uikit-download.html %}

          {% if page.implementation %}
            <a href="{{ page.implementation }}" class="pe-btn__primary--btn_large code">
              <svg style="vertical-align: baseline;"
                   aria-hidden="true"
                   focusable="false"
                   viewBox="0 0 22 18"
                   xmlns="http://www.w3.org/2000/svg"
                   xmlns:xlink="http://www.w3.org/1999/xlink"
                   class="pe-icon--code-18">
               <path d="M6.70526173,14.7060005 C7.09874655,14.3160005 7.09674408,13.6830005 6.70726419,13.2920005 L2.41597679,8.99900048 L6.70726419,4.70600048 C7.09774531,4.31500048 7.09774531,3.68300048 6.70626296,3.29200048 C6.31377937,2.90200048 5.68099971,2.90300048 5.28951735,3.29300048 L0.292360225,8.29200048 C0.0971196636,8.48800048 -3.12638804e-13,8.74300048 -3.12638804e-13,8.99900048 C-3.12638804e-13,9.25500048 0.0971196636,9.51000048 0.292360225,9.70600048 L5.28951735,14.7050005 C5.68099971,15.0960005 6.31377937,15.0960005 6.70526173,14.7060005 Z" id="icon"></path>
               <path d="M15.2947383,14.7060005 C14.9012535,14.3160005 14.9032559,13.6830005 15.2927358,13.2920005 L19.5840232,8.99900048 L15.2927358,4.70600048 C14.9022547,4.31500048 14.9022547,3.68300048 15.293737,3.29200048 C15.6862206,2.90200048 16.3190003,2.90300048 16.7104826,3.29300048 L21.7076398,8.29200048 C21.9028803,8.48800048 22,8.74300048 22,8.99900048 C22,9.25500048 21.9028803,9.51000048 21.7076398,9.70600048 L16.7104826,14.7050005 C16.3190003,15.0960005 15.6862206,15.0960005 15.2947383,14.7060005 Z" id="icon"></path>
               <path d="M13.3718,3.073 C12.8568,2.865 12.2768,3.117 12.0718,3.631 L8.0718,13.629 C7.8668,14.141 8.1158,14.723 8.6288,14.928 C8.7508,14.977 8.8758,15 8.9998,15 C9.3968,15 9.7718,14.762 9.9288,14.371 L13.9288,4.373 C14.1338,3.86 13.8848,3.278 13.3718,3.073" id="icon"></path>
              </svg>
              Code
            </a>
          {% else %}
            <button disabled class="pe-btn--btn_large">Code pending</button>
          {% endif %}
        </div>

        {% if page.usage_guidelines %}
        <div class="usage_guidelines">
          <p><span class="pe-label pe-label--bold">Usage Guidelines</span></p>
          {{page.usage_guidelines | markdownify}}
        </div>
        {% endif %}

        <div class="toc">
          <ul>
            {% for heading in page.blocks %}
              {% if heading.type == 'section' %}
                <li><a href="#{{heading.name | slugify}}">{{heading.name}}</a></li>
              {% endif %}
            {% endfor %}
            <li><a href="#changelog">Changelog</a></li>
          </ul>
        </div>

      </div>

      <div class="right">

        {% if page.features %}
        <div class="features">
          <p><span class="pe-label pe-label--bold">Features</span></p>
          <ul class="pe-list pe-styled-lists--unordered">
            {% for feature in page.features %}
              <li>{{ feature }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <div class="dependencies">
          <p><span class="pe-label pe-label--bold">Dependencies</span></p>
          {% for dependency in page.dependencies %}
            <p><a href="{{site.baseurl}}/c/{{dependency.name | slugify}}/v{{dependency.version}}">{{dependency.name}} v{{dependency.version}}</a></p>
          {% endfor %}
          {% unless page.dependencies and page.dependencies != empty %}
            <p>None</p>
          {% endunless %}
        </div>

        <div class="other">
          {% if page.a11y_checklist %}
            {% assign a11y = page.a11y_checklist %}
          {% else %}
            {% for download in page.downloads %}
              {% if download.name contains "ccessib" %}
                {% assign a11y = download.link %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}

          <p><span class="pe-label pe-label--bold">Documents</span></p>
          <p><a href="{{a11y}}">UX Accessibility Checklist</a></p>

          {% if page.quality_checklist %}
            <p><a href="{{page.quality_checklist}}"></a></p>
          {% endif %}

          {% if page.sketch %}
            {% assign sketch_file = page.sketch %}
          {% else %}
            {% for download in page.downloads %}
              {% if download.link contains '.sketch' %}
                {% capture sketch_file %}{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{download.link}}{% endcapture %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if sketch_file %}
            <p><a href="{{ sketch_file }}">Documentation Assets (Sketch)</a></p>
          {% endif %}
        </div>

      </div>

      {% comment %}
      <div class="article_info">
        <div class="people">
          {% for person in page.people %}
          <div class="person">
            <div class="title pe-label pe-label--bold">{{person.role}}</div>
            <div class="pe-label"><a href="mailto:{{person.email}}">{{person.name}}</a></div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endcomment %}

    </div>

    {% for block in page.blocks %}
    <div class="block">
      {% for feature in block.features %}
        <div id="{{page.title | slugify}}--{{feature | slugify}}"></div>
      {% endfor %}
      {% for feature in block.redlines %}
        <div
          id="{{page.title | slugify}}--{{feature | slugify}}-redlines">
        </div>
      {% endfor %}

      {% comment %}
      The exports tag is now deprecated in favor of features
      {% endcomment %}
      {% for export in block.exports %}
        <div id="rd-{{export | slugify}}"></div>
      {% endfor %}


      {% case block.type %}

      {% when 'section' %}
      <div class="section">
        <h2 class="pe-title pe-bold" id="{{block.name | slugify}}">{{block.name}}</h2>
        {% if block.javascript %}
          <span class="js-tag" style="vertical-align: middle; margin-bottom: 8px;">Requires Javascript</span>
        {% endif %}
      </div>


      {% when 'two column' or 'two_column' %}
      <div class="two_column">
        <div class="text">
          {{block.text | markdownify}}

          {% for feature in block.features %}
            {% capture feature_id %}{{page.title | slugify}}--{{feature | slugify}}{% endcapture %}
            <div class="feature" id="{{feature_id}}">
              {{feature}} <span id="{{feature_id}}-ddown"></span>
            </div>
            <script type="text/javascript">

              var redlineLink =
                '{{site.baseurl}}{{page.url}}#{{feature_id}}-redlines'


              var handleFeatureDropdown = function(featureID) {
                return function(clicked) {
                  var redlineHash = '#{{feature_id}}-redlines'

                  switch (clicked) {
                    case 'Dev docs':
                      break;
                    case 'Redlines':
                      break;
                    case 'Copy link':
                      copyToClipboard('{{site.url}}{{site.baseurl}}{{page.url}}#{{feature_id}}')
                    default:
                  }
                }
              }

              var links = [
                React.createElement(
                  DropdownItem,
                  {label: 'Copy link', type: 'button'}
                )
              ]

              {% unless page.no_redlines %}
                links.unshift(React.createElement(
                  DropdownItem,
                  {label: 'Redlines', type: 'link', url: redlineLink}
                ))
              {% endunless %}

              var el = React.createElement(
                Dropdown,
                {
                  mobileTitle: 'Links for this feature',
                  type: 'icon',
                  label: 'icon text',
                  id: 'fakeid',
                  changeHandler: handleFeatureDropdown('{{feature_id}}')
                },
                links
              )

              ReactDOM.render(el, document.getElementById('{{feature_id}}-ddown'))
            </script>
          {% endfor %}
        </div>
        <div class="content">
          {% for item in block.contents %}
            {% case item.type %}

            {% when 'wide image' %}
            <div class="image wide">
              <div class="media {% if item.border %}border{% endif %}">
                <img src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" />
              </div>
              {% if item.caption %}<div class="caption">{{item.caption | markdownify}}</div>{% endif %}
            </div>

            {% when 'narrow image' %}
            <div class="image narrow">
              <div class="media {% if item.border %}border{% endif %}">
                <img src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" />
              </div>
              {% if item.caption %}<div class="caption">{{item.caption | markdownify}}</div>{% endif %}
            </div>

            {% when 'ios image' or 'ios_image' or 'iOS image' or 'iOS_image' %}
            <div class="image ios">
              <div class="media {% if item.border %}border{% endif %}">
                <img src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" />
              </div>
              {% if item.caption %}<div class="caption">{{item.caption | markdownify}}</div>{% endif %}
            </div>

            {% when 'android image' or 'android_image' %}
            <div class="image android">
              <div class="media {% if item.border %}border{% endif %}">
                <img src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" />
              </div>
              {% if item.caption %}<div class="caption">{{item.caption | markdownify}}</div>{% endif %}
            </div>

            {% when 'wide video' %}
            <div class="image wide">
              <div class="media {% if item.border %}border{% endif %}">
                <video src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" loop controls/>
              </div>
              {% if item.caption %}<div class="caption">{{item.caption | markdownify}}</div>{% endif %}
            </div>

            {% when 'narrow video' %}
            <div class="image narrow">
              <div class="media {% if item.border %}border{% endif %}">
                <video src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" loop controls/>
              </div>
              {% if item.caption %}<div class="caption">{{item.caption | markdownify}}</div>{% endif %}
            </div>

            {% when 'table' %}
            <div class="table">{{item.content | markdownify}}</div>

            {% when 'code' %}
            <pre class="pe-code">{{item.content}}</pre>

            {% when 'text' %}
            <div class="text-content pe-copy">{{item.content | markdownify}}</div>

            {% when 'palette' %}
            <div class="colors">
              {% for color in page.palettes[item.palette] %}
                {% assign color_data = page.colors[color] %}
                <div class="color" data-state="open" data-border="{% if color_data.use_border %}true{% else %}false{% endif %}">
                  <div class="bar {% if color_data.use_border %}border{% endif %}" style="background-color: #{{color_data.hex}};">
                    <div class="name {% if color_data.use_border %}border{% endif %}" style="transform: translateY(70px);">
                      <p>{{color}}</p>
                      <p>#{{color_data.hex}}</p>
                    </div>
                  </div>
                  <div class="details">
                    <h5>Primary Uses</h5>
                    <div class="uses">{% if color_data.uses %}{{color_data.uses | markdownify}}{% endif %}</div>

                    <h5>A11y Complements</h5>
                    <div class="complements">
                      {% for complement in color_data.a11y_complements %}
                        {% assign comp_data = page.colors[complement] %}
                        <div class="complement">
                          <div class="complement_swatch {% if comp_data.use_border %}border{% endif %}" style="background-color: #{{comp_data.hex}}"></div>
                          <p>{{complement}}</p>
                        </div>
                      {% else %}
                        <div class="complement"><p>No complements meet accessibility requirements</p></div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

            {% when 'colors' %}
            <div class="colors">
              {% for color in item.colors %}
                {% assign color_data = page.colors[color] %}
                <div class="color" data-state="open" data-border="{% if color_data.use_border %}true{% else %}false{% endif %}">
                  <div class="bar {% if color_data.use_border %}border{% endif %}" style="background-color: #{{color_data.hex}};">
                    <div class="name {% if color_data.use_border %}border{% endif %}" style="transform: translateY(70px);">
                      <p>{{color}}</p>
                      <p>#{{color_data.hex}}</p>
                    </div>
                  </div>
                  <div class="details">
                    <h5>Primary Uses</h5>
                    <div class="uses">{% if color_data.uses %}{{color_data.uses | markdownify}}{% endif %}</div>

                    <h5>A11y Complements</h5>
                    <div class="complements">
                      {% for complement in color_data.a11y_complements %}
                        {% assign comp_data = page.colors[complement] %}
                        <div class="complement">
                          <div class="complement_swatch {% if comp_data.use_border %}border{% endif %}" style="background-color: #{{comp_data.hex}}"></div>
                          <p>{{complement}}</p>
                        </div>
                      {% else %}
                        <div class="complement"><p>No complements meet accessibility requirements</p></div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

            {% endcase %}
          {% endfor %}
        </div>
      </div>

      {% when 'palette' %}
      <div class="swatches">
        <h3>Foreground</h3>
        <table>
          {% for color in block.foreground %}
            <tr>
              <td>{{color.name}}</td>
              <td>#{{color.hex}}</td>
              <td><div style="width: 100%; min-width: 100px; height: 40px; background-color: #{{color.hex}}"></div></td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="swatches">
        <h3>Background</h3>
        <table>
          {% for color in block.background %}
            <tr>
              <td>{{color.name}}</td>
              <td>#{{color.hex}}</td>
              <td><div style="width: 100%; min-width: 100px; height: 40px; background-color: #{{color.hex}}"></div></td>
            </tr>
          {% endfor %}
        </table>
      </div>
      {% if block.accents %}
        <div class="swatches">
          <h3>Accents</h3>
          <table>
            {% for color in block.accents %}
              <tr>
                <td>{{color.name}}</td>
                <td>#{{color.hex}}</td>
                <td><div style="width: 100%; min-width: 100px; height: 40px; background-color: #{{color.hex}}"></div></td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endif %}



      {% when 'style table' or 'style_table' %}
      <table class="pe-style-table">
        <thead>
          <tr>
            <th>Available Styles</th>
            <th>Reference As (<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#links">How do I use this?</a>)</th>
          </tr>
        </thead>
        <tbody>
          {% for style in block.styles %}
            <tr>
              <td>{{style}}</td>
              <td><code>[]({{site.baseurl}}{{page.url}}#rd-{{style | slugify}})</code></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>


      {% endcase %}
    </div>
    {% endfor %}

    <div class="block changelog">
      <h2 class="pe-title pe-bold" id="changelog">Changelog</h2>
      {% for change in page.changelog %}
        {% if change.version != page.version and change.linkable != false %}
          <h3 class="pe-title"><a href="{% if include.beta or include.in_dir %}.{% endif %}./v{{change.version}}">{{change.version}}</a></h3>
        {% else %}
          <h3 class="pe-title">{{change.version}}</h3>
        {% endif %}
        {{change.changes | markdownify}}
      {% endfor %}
    </div>
  </div>
</div>

<!-- This is to make the dependency links work in the local dev environment -->
{% if jekyll.environment != 'production' %}
  <script type="text/javascript">
    var links = document.querySelectorAll('.block a')
    links.forEach(function(link) {
      var href = link.href
      var crossLinkRegex =
        /http\:\/\/pearson-higher-ed\.github\.io\/design\/c\//
      if (crossLinkRegex.test(href)) {
        link.setAttribute('href', href.substr(34))
      }
    })
  </script>
{% endif %}
