<script>
  var createFunctionWithTimeout = function(callback, opt_timeout) {
    var called = false;
    function fn() {
      if (!called) {
        called = true;
        callback();
      }
    }
    setTimeout(fn, opt_timeout || 1000);
    return fn;
  }

  var trackLink = function(url, name) {
    ga('send', 'event', 'component-downloads', 'download', (name ? name + ' - ' + url : url), {
      transport: 'beacon',
      hitCallback: createFunctionWithTimeout(function(){ document.location = url; })
    });
  }
</script>

<div class="top-level-content">

  {% if page.version contains 'beta' and page.status == 'active' %}
    <div class="banner warn">This version has not been approved yet. <a href="./..">Go to the latest approved version</a>.</div>
  {% endif %}

  {% if page.status != 'active' %}
    <div class="banner warn">This version is outdated. <a href="./..">Go to the latest approved version</a>.</div>
  {% endif %}

  {% if page.status == 'active' %}
    {% unless page.version contains 'beta' %}
      {% assign active_pages = site.pages | where: 'title', page.title | where: 'status', 'active' %}

      {% for active_page in active_pages %}
        {% if active_page.version contains 'beta' %}
          <div class="banner info">There is a proposed update to this component. <a href="{{site.baseurl}}{{active_page.url}}">Go to the latest proposed version</a>.</div>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endunless %}
  {% endif %}

  {% if page.rebranded %}
    <div class="banner warn">This component is part of a larger rebranding project. Please coordinate with the framework team before consuming it.</div>
  {% endif %}


  <div class="blocks">
    <div class="block article_header">
      <h1 class="pe-page-title">{{page.title}}</h1>
      <span class="pe-label pe-label--large">v{{page.version}}</span>

      <div class="buttons">
        {% if page.sketch %}
          {% assign sketch_file = page.sketch %}
        {% else %}
          {% for download in page.downloads %}
            {% if download.link contains '.sketch' %}
              {% assign sketch_file = download.link %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}

        <a class="pe-btn__primary--btn_large" href="{{ sketch_file }}">Sketch File</a>

        {% if page.implementation %}
          <a href="{{ page.implementation }}" class="pe-btn__primary--btn_large">Code</a>
        {% endif %}
      </div>
    </div>

    <div class="block overview">

      <div class="left">

        <p class="pe-copy pe-copy--large tagline">{{page.tagline}}</p>

        <div class="buttons">
          {% if page.sketch %}
            {% assign sketch_file = page.sketch %}
          {% else %}
            {% for download in page.downloads %}
              {% if download.link contains '.sketch' %}
                {% assign sketch_file = download.link %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}

          <a class="pe-btn__primary--btn_large" href="{{ sketch_file }}">Sketch File</a>

          {% if page.implementation %}
            <a href="{{ page.implementation }}" class="pe-btn__primary--btn_large">Code</a>
          {% endif %}
        </div>

        {% if page.usage_guidelines %}
        <div class="usage_guidelines">
          <p><span class="pe-label pe-label--bold">Usage Guidelines</span></p>
          {{page.usage_guidelines | markdownify}}
        </div>
        {% endif %}

        <div class="toc">
          <ul>
            {% for heading in page.blocks %}
              {% if heading.type == 'section' %}
                <li><a href="#{{heading.name | slugify}}">{{heading.name}}</a></li>
              {% endif %}
            {% endfor %}
            <li><a href="#changelog">Changelog</a></li>
          </ul>
        </div>

      </div>

      <div class="right">

        {% if page.features %}
        <div class="features">
          <p><span class="pe-label pe-label--bold">Features</span></p>
          <ul class="pe-list pe-styled-lists--unordered">
            {% for feature in page.features %}
              <li>{{ feature }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <div class="dependencies">
          <p><span class="pe-label pe-label--bold">Dependencies</span></p>
          {% for dependency in page.dependencies %}
            <p><a href="{{site.baseurl}}/c/{{dependency.name | slugify}}/v{{dependency.version}}">{{dependency.name}}@^{{dependency.version}}</a></p>
          {% endfor %}
          {% unless page.dependencies and page.dependencies != empty %}
            <p>None</p>
          {% endunless %}
        </div>

        <div class="other">
          {% if page.a11y_checklist %}
            {% assign a11y = page.a11y_checklist %}
          {% else %}
            {% for download in page.downloads %}
              {% if download.name contains "ccessib" %}
                {% assign a11y = download.link %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}

          <p><span class="pe-label pe-label--bold">Downloads</span></p>
          <p><a href="{{a11y}}">UX Accessibility Checklist</a></p>
        </div>

      </div>

      {% comment %}
      <div class="article_info">
        <div class="people">
          {% for person in page.people %}
          <div class="person">
            <div class="title pe-label pe-label--bold">{{person.role}}</div>
            <div class="pe-label"><a href="mailto:{{person.email}}">{{person.name}}</a></div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endcomment %}

    </div>

    {% for block in page.blocks %}
    <div class="block">
      {% for export in block.exports %}
      <div id="rd-{{export | slugify}}"></div>
      {% endfor %}


      {% case block.type %}

      {% when 'section' %}
      <div class="section">
        <h2 class="pe-title" id="{{block.name | slugify}}"><b>{{block.name}}</b></h2>
        {% if block.javascript %}
          <span class="js-tag" style="vertical-align: middle; margin-bottom: 8px;">Requires Javascript</span>
        {% endif %}
      </div>


      {% when 'two column' or 'two_column' %}
      <div class="two_column">
        <div class="text">{{block.text | markdownify}}</div>
        <div class="content">
          {% for item in block.contents %}
            {% case item.type %}

            {% when 'wide image' %}
            <div class="image wide">
              <div class="media">
                <img src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" />
              </div>
              {% if item.caption %}<div class="caption">{{item.caption | markdownify}}</div>{% endif %}
            </div>

            {% when 'narrow image' %}
            <div class="image narrow">
              <div class="media">
                <img src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" />
              </div>
              {% if item.caption %}<div class="caption">{{item.caption | markdownify}}</div>{% endif %}
            </div>

            {% when 'ios image' or 'ios_image' or 'iOS image' or 'iOS_image' %}
            <div class="image ios">
              <div class="media">
                <img src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" />
              </div>
              {% if item.caption %}<div class="caption">{{item.caption | markdownify}}</div>{% endif %}
            </div>

            {% when 'android image' or 'android_image' %}
            <div class="image android">
              <div class="media">
                <img src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" />
              </div>
              {% if item.caption %}<div class="caption">{{item.caption | markdownify}}</div>{% endif %}
            </div>

            {% when 'wide video' %}
            <div class="image wide">
              <div class="media">
                <video src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" loop controls/>
              </div>
              {% if item.caption %}<div class="caption">{{item.caption | markdownify}}</div>{% endif %}
            </div>

            {% when 'narrow video' %}
            <div class="image narrow">
              <div class="media">
                <video src="{% if include.beta or include.in_dir %}../{% endif %}v{{page.version}}/{{item.src}}" loop controls/>
              </div>
              {% if item.caption %}<div class="caption">{{item.caption | markdownify}}</div>{% endif %}
            </div>

            {% when 'table' %}
            <div class="table">{{item.content | markdownify}}</div>

            {% when 'code' %}
            <pre class="pe-code">{{item.content}}</pre>

            {% when 'text' %}
            <div class="text-content pe-copy">{{item.content | markdownify}}</div>

            {% when 'colors' %}
            <div class="colors">
              {% for color in item.colors %}
                {% assign color_data = page.colors[color] %}
                <div class="color" data-state="open" data-border="{% if color_data.use_border %}true{% else %}false{% endif %}">
                  <div class="bar {% if color_data.use_border %}border{% endif %}" style="background-color: #{{color_data.hex}};">
                    <div class="name {% if color_data.use_border %}border{% endif %}" style="transform: translateY(70px);">
                      <p>{{color}}</p>
                      <p>#{{color_data.hex}}</p>
                    </div>
                  </div>
                  <div class="details">
                    <h5>Primary Uses</h5>
                    <div class="uses">{% if color_data.uses %}{{color_data.uses | markdownify}}{% endif %}</div>

                    <h5>A11y Complements</h5>
                    <div class="complements">
                      {% for complement in color_data.a11y_complements %}
                        {% assign comp_data = page.colors[complement] %}
                        <div class="complement">
                          <div class="complement_swatch {% if comp_data.use_border %}border{% endif %}" style="background-color: #{{comp_data.hex}}"></div>
                          <p>{{complement}}</p>
                        </div>
                      {% else %}
                        <div class="complement"><p>No complements meet accessibility requirements</p></div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

            {% endcase %}
          {% endfor %}
        </div>
      </div>

      {% when 'palette' %}
      <div class="swatches">
        <h3>Foreground</h3>
        <table>
          {% for color in block.foreground %}
            <tr>
              <td>{{color.name}}</td>
              <td>#{{color.hex}}</td>
              <td><div style="width: 100%; min-width: 100px; height: 40px; background-color: #{{color.hex}}"></div></td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="swatches">
        <h3>Background</h3>
        <table>
          {% for color in block.background %}
            <tr>
              <td>{{color.name}}</td>
              <td>#{{color.hex}}</td>
              <td><div style="width: 100%; min-width: 100px; height: 40px; background-color: #{{color.hex}}"></div></td>
            </tr>
          {% endfor %}
        </table>
      </div>
      {% if block.accents %}
        <div class="swatches">
          <h3>Accents</h3>
          <table>
            {% for color in block.accents %}
              <tr>
                <td>{{color.name}}</td>
                <td>#{{color.hex}}</td>
                <td><div style="width: 100%; min-width: 100px; height: 40px; background-color: #{{color.hex}}"></div></td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endif %}



      {% when 'style table' or 'style_table' %}
      <table class="pe-table">
        <thead>
          <tr>
            <th>Available Styles</th>
            <th>Reference As (<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#links">How do I use this?</a>)</th>
          </tr>
        </thead>
        <tbody>
          {% for style in block.styles %}
            <tr>
              <td>{{style}}</td>
              <td><code>[]({{site.baseurl}}{{page.url}}#rd-{{style | slugify}})</code></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>


      {% endcase %}
    </div>
    {% endfor %}

    <div class="block changelog">
      <h2 class="pe-title" id="changelog"><b>Changelog</b></h2>
      {% for change in page.changelog %}
        {% if change.version != page.version and change.linkable != false %}
          <h3 class="pe-title"><a href="{% if include.beta or include.in_dir %}.{% endif %}./v{{change.version}}">{{change.version}}</a></h3>
        {% else %}
          <h3 class="pe-title">{{change.version}}</h3>
        {% endif %}
        {{change.changes | markdownify}}
      {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(e){

    var toggleColor = function(div) {
      var name = div.children.item(0).children.item(0);
      var bar = div.children.item(0);
      var details = div.children.item(1);
      var state = div.dataset.state;
      var border = div.dataset.border === 'true';

      if (state === 'closed') {
        Velocity(details, {marginTop: 0}, [200, 25]);
        Velocity(name, {translateY: 70}, {
          easing: [250, 30],
          begin: function() {
            if (border) {
              Velocity(name, {borderLeftColorAlpha: 0}, {duration: 50, queue: false});
            }
          },
          complete: function() {
            if (border) {
              Velocity(name, {
                borderTopColor: "#d0d0d0",
                borderTopColorAlpha: 1
              }, {duration: 50, queue: false});
              Velocity(bar, {
                borderBottomColor: "#d0d0d0",
                borderBottomColorAlpha: 1
              }, {duration: 50, queue: false});
            }
          }
        });
        div.dataset.state = 'open';
      } else {
        Velocity(details, {marginTop: '-='+details.clientHeight}, [200, 25]);
        Velocity(name, {translateY: [0, 70]}, {
          easing: [250, 30],
          begin: function(){
            if (border) {
              Velocity(bar, {borderBottomColorAlpha: 0}, {duration: 50, queue: false});
              Velocity(name, {borderTopColorAlpha: 0}, {duration: 50, queue: false});
            }
          },
          complete: function() {
            if (border) {
              Velocity(name, {
                borderLeftColor: "#d0d0d0",
                borderLeftColorAlpha: 1
              }, {duration: 50, queue: false});
            }
          }
        });

        div.dataset.state = 'closed';
      }
    };

    var colors = document.querySelectorAll('.color');
    for (var i = 0; i < colors.length; i++) {
      colors[i].addEventListener('click', function(e) {

        var open = document.querySelectorAll('[data-state="open"]');
        for (var i = 0; i < open.length; i++) {
          if (open[i] !== e.currentTarget) toggleColor(open[i]);
        }

        toggleColor(e.currentTarget);
      });
      toggleColor(colors[i]);
    }

  });
</script>
