<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{{ page.title }} - {{ site.name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="/img/origami-logo.png" type="image/x-icon" />

  <link href="{{ site.baseurl }}/style.css" rel="stylesheet" />
	<link href="{{ site.baseurl }}/main.css" rel="stylesheet" />

  <script src="https://use.typekit.net/fix5pzv.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

  <script src="//polyfill.webservices.ft.com/v1/polyfill.min.js"></script>
</head>
