<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{{ page.title }} - {{ site.name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="{{ site.baseurl }}/main.css" rel="stylesheet" />

  <script src="https://use.typekit.net/fix5pzv.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<script src="{{site.baseurl}}/node_modules/react/dist/react.min.js"></script>
	<script src="{{site.baseurl}}/node_modules/react-dom/dist/react-dom.min.js"></script>
	<script src="{{site.baseurl}}/node_modules/pearson-compounds/build/dist.compounds.js"></script>

	<script type="text/javascript">
	(function (ElementProto) {
		if (typeof ElementProto.matches !== 'function') {
			ElementProto.matches = ElementProto.msMatchesSelector || ElementProto.mozMatchesSelector || ElementProto.webkitMatchesSelector || function matches(selector) {
				var element = this;
				var elements = (element.document || element.ownerDocument).querySelectorAll(selector);
				var index = 0;

				while (elements[index] && elements[index] !== element) {
					++index;
				}

				return Boolean(elements[index]);
			};
		}

		if (typeof ElementProto.closest !== 'function') {
			ElementProto.closest = function closest(selector) {
				var element = this;

				while (element && element.nodeType === 1) {
					if (element.matches(selector)) {
						return element;
					}

					element = element.parentNode;
				}

				return null;
			};
		}
		})(window.Element.prototype);
	</script>

	<script type="text/javascript">
		if (!document.getElementById('pe-icons-sprite')) {
			var pe_ajax = new XMLHttpRequest()
				, url = "{{site.baseurl}}/node_modules/pearson-elements/assets/icons/p-icons-sprite-1.1.svg";
			pe_ajax.open("GET", url, true);
			pe_ajax.responseType = "document";
			pe_ajax.onload = function(e) {
				document.body.insertBefore(
					pe_ajax.responseXML.documentElement,
					document.body.childNodes[0]
				);
			}
			pe_ajax.send();
		}
	</script>
</head>
