<div class="navigation">
  <ul>
    <li><a href="{{site.baseurl}}/">Home</a></li>
    <li>
      Learn
      <ul>
        {% assign learn = (site.pages | where: "section", "learn") %}
				{% for page in learn %}
          {% if page.url contains 'beta' %}
          {% else %}
					<li><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
          {% endif %}
				{% endfor %}
      </ul>
    </li>
    <li>
      Use
      <ul>
        {% assign learn = (site.pages | where: "section", "use" | sort: "title" | sort: "order", "last") %}
        {% for page in learn %}
          {% if page.url contains 'beta' %}
          {% else %}
          <li><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    <li>
      Contribute
      <ul>
        {% assign learn = (site.pages | where: "section", "contribute") %}
        {% for page in learn %}
          {% if page.url contains 'beta' %}
          {% else %}
          <li><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
          {% endif %}
        {% endfor %}
        <li class="pe-label pe-label--large"><a href="https://groups.google.com/a/pearson.com/forum/#!forum/elemental-discuss/categories">Mailing List</a></li>
      </ul>
    </li>
    <li>
      Library
      <ul>
        {% assign library = (site.pages | where: "section", "Components") | sort:"title" %}
        {% for page in library %}
          {% if (page.url contains 'beta') or (page.private) or (page.status != 'active') %}
          {% else %}
            <li><a href="{{site.baseurl}}{{page.url}}..">{{page.title}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
