<div class="sidebar">
  <a href="{{site.baseurl}}/">
    <header>
      UX Framework

      <button data-sidebar-closer="true">
        <svg style="vertical-align:baseline"
          aria-hidden="true"
          focusable="false"
          class="pe-icon--remove-lg-18">
            <use xlink:href="#remove-lg-18"></use>
        </svg>
      </button>
    </header>
  </a>

  {% assign learn_pages = '' | split: '' %}
  {% assign use_pages = '' | split: '' %}
  {% assign contribute_pages = '' | split: '' %}
  {% assign component_pages = '' | split: '' %}
  {% assign listed_components = '' | split: '' %}

  {% for page in site.pages %}
    {% comment %}
    Short circuit out pages we're not interested in.
    {% endcomment %}

    {% if page.status != nil %}
      {% if page.status != 'active' %}
        {% continue %}
      {% endif %}
    {% endif %}

    {% if page.private == true %}
      {% continue %}
    {% endif %}

    {% if page.url contains 'beta' %}
      {% continue %}
    {% endif %}

    {% case page.section %}
      {% when 'learn' %}
        {% assign learn_pages = learn_pages | push: page %}
      {% when 'use' %}
        {% assign use_pages = use_pages | push: page %}
      {% when 'contribute' %}
        {% assign contribute_pages = contribute_pages | push: page %}
      {% when 'Components' %}
          {% if listed_components contains page.title %}
            {{ 'Duplicate found: ' | append: page.title | warn }}
            {% continue %}
          {% endif %}

          {% assign component_pages = component_pages | push: page %}
          {% assign listed_components = listed_components | push: page.title %}
      {% else %}
    {% endcase %}
  {% endfor %}

  {% assign learn_pages = learn_pages | sort: 'order' %}
  {% assign use_pages = use_pages | sort: 'order' %}
  {% assign contribute_pages = contribute_pages | sort: 'order' %}
  {% assign component_pages = component_pages | sort: 'title' %}


  <div class="sidebar-toc">
    <ul>
      <li>
        Learn
        <ul>
          {% for page in learn_pages %}
            <li><a href="{{site.baseurl}}{{page.url}}">{% if page.shortname %}{{page.shortname}}{% else %}{{page.title}}{% endif %}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        Use
        <ul>
          {% for page in use_pages %}
            <li><a href="{{site.baseurl}}{{page.url}}">{% if page.shortname %}{{page.shortname}}{% else %}{{page.title}}{% endif %}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        Contribute
        <ul>
          {% for page in contribute_pages %}
            <li><a href="{{site.baseurl}}{{page.url}}">{% if page.shortname %}{{page.shortname}}{% else %}{{page.title}}{% endif %}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        Components
        <ul>
          {% for component in component_pages %}
            {% if component.references == nil %}
              <li {% if component.title == page.title %}class="selected"{% endif %}>
                <a href="{{site.baseurl}}{{component.url}}..">
                  {% if component.shortname %}
                    {{component.shortname}}
                  {% else %}
                    {{component.title}}
                  {% endif %}
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{site.baseurl}}/c/{{component.references}}">
                  {{ component.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>

</div>

<div class="ultimate-header {% if include.invisible %}invisible{% endif %}">
  <img class="burger" src="{{site.baseurl}}/assets/burger.svg"> {% unless include.invisible %}{{page.title}}{% endunless %}

  {% unless include.invisible %}
    <a href="{{site.baseurl}}/contact" class="contact">
      <svg style="vertical-align:baseline"
        aria-hidden="true"
        focusable="false"
        class="pe-icon--email-18">
          <use xlink:href="#email-18"></use>
      </svg>
      <span class="text"> Questions or Comments?</span></a>
  {% endunless %}
</div>

<div class="overlay" data-sidebar-closer="true"></div>

<script type="text/javascript">
  var sidebar = document.querySelector('.sidebar')
    , overlay = document.querySelector('.overlay');
  var closeSidebar = function() {
    sidebar.classList.remove('open');
    overlay.classList.remove('open');
  };
  var openSidebar = function() {
    sidebar.classList.add('open');
    overlay.classList.add('open');
  }

  document.querySelector('.burger').addEventListener('click', function(event) {
    openSidebar()
  })

  document.querySelectorAll('[data-sidebar-closer]').forEach(function(closer) {
    closer.addEventListener('click', function(event) {
      event.preventDefault()
      closeSidebar()
    })
  });
</script>
