<table class="pe-proto">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Position</th>
            <th>Age</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Picard</td>
            <td>Jean-Luc</td>
            <td>Captain</td>
            <td>54</td>
            <td>Instructor</td>
        </tr>
        <tr>
            <td>Picard</td>
            <td>Jean-Luc</td>
            <td>Captain</td>
            <td>54</td>
            <td>Instructor</td>
        </tr>
    </tbody>
</table>