@font-face {
  font-family: 'pearson-fa';
  src: url("../fonts/pearson-fa.eot");
  src: url("../fonts/pearson-fa.eot#iefix") format("embedded-opentype"), url("../fonts/pearson-fa.ttf") format("truetype"), url("../fonts/pearson-fa.woff") format("woff"), url("../fonts/pearson-fa.svg#pearson-fa") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 17, pattern-lab/scss/elements/_icons.scss */
[class^='pe-icon--'],
[class*=' pe-icon--'] {
  font-family: 'pearson-fa' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 32, pattern-lab/scss/elements/_icons.scss */
.pe-icon--search:before {
  content: '\f002';
}

/* line 36, pattern-lab/scss/elements/_icons.scss */
.pe-icon--check:before {
  content: '\f00c';
}

/* all three for close-X */
/* line 42, pattern-lab/scss/elements/_icons.scss */
.pe-icon--close:before {
  content: '\f00d';
}

/* line 46, pattern-lab/scss/elements/_icons.scss */
.pe-icon--remove:before {
  content: '\f00d';
}

/* line 50, pattern-lab/scss/elements/_icons.scss */
.pe-icon--times:before {
  content: '\f00d';
}

/* line 54, pattern-lab/scss/elements/_icons.scss */
.pe-icon--cog:before {
  content: '\f013';
}

/* line 58, pattern-lab/scss/elements/_icons.scss */
.pe-icon--trash-o:before {
  content: '\f014';
}

/* line 62, pattern-lab/scss/elements/_icons.scss */
.pe-icon--plus-circle:before {
  content: '\f055';
}

/* line 66, pattern-lab/scss/elements/_icons.scss */
.pe-icon--chevron-up:before {
  content: '\f077';
}

/* line 70, pattern-lab/scss/elements/_icons.scss */
.pe-icon--chevron-down:before {
  content: '\f078';
}

/* line 74, pattern-lab/scss/elements/_icons.scss */
.pe-icon--chevron-left:before {
  content: '\f056';
}

/* line 78, pattern-lab/scss/elements/_icons.scss */
.pe-icon--chevron-right:before {
  content: '\f058';
}

/* line 82, pattern-lab/scss/elements/_icons.scss */
.pe-icon--thumb-tack:before {
  content: '\f08d';
}

/* line 86, pattern-lab/scss/elements/_icons.scss */
.pe-icon--user:before {
  content: '\f007';
}

/* line 90, pattern-lab/scss/elements/_icons.scss */
.pe-icon--users:before {
  content: '\f0c0';
}

/* line 94, pattern-lab/scss/elements/_icons.scss */
.pe-icon--envelope:before {
  content: '\f0e0';
}

/* line 98, pattern-lab/scss/elements/_icons.scss */
.pe-icon--times-circle-o:before {
  content: '\f05c';
}

/* line 102, pattern-lab/scss/elements/_icons.scss */
.pe-icon--info-circle:before {
  content: '\f05a';
}

/* line 106, pattern-lab/scss/elements/_icons.scss */
.pe-icon--file-o:before {
  content: '\f016';
}

/* line 110, pattern-lab/scss/elements/_icons.scss */
.pe-icon--calendar:before {
  content: '\f073';
}

/* line 114, pattern-lab/scss/elements/_icons.scss */
.pe-icon--square-o:before {
  content: '\f096';
}

/* line 118, pattern-lab/scss/elements/_icons.scss */
.pe-icon--check-square-o:before {
  content: '\f046';
}

/* line 122, pattern-lab/scss/elements/_icons.scss */
.pe-icon--ban:before {
  content: '\f05e';
}

/* line 126, pattern-lab/scss/elements/_icons.scss */
.pe-icon--camera:before {
  content: '\f030';
}

/* line 130, pattern-lab/scss/elements/_icons.scss */
.pe-icon--clock-o:before {
  content: '\f017';
}

/* line 134, pattern-lab/scss/elements/_icons.scss */
.pe-icon--exclamation-circle:before {
  content: '\f06a';
}

/* line 138, pattern-lab/scss/elements/_icons.scss */
.pe-icon--bell:before {
  content: '\f0f3';
}

/* line 142, pattern-lab/scss/elements/_icons.scss */
.pe-icon--archive:before {
  content: '\f187';
}

/* line 146, pattern-lab/scss/elements/_icons.scss */
.pe-icon--question-circle:before {
  content: '\f059';
}

/* line 150, pattern-lab/scss/elements/_icons.scss */
.pe-icon--heart:before {
  content: '\f004';
}

/* line 154, pattern-lab/scss/elements/_icons.scss */
.pe-icon--heart-o:before {
  content: '\f08a';
}

/* line 158, pattern-lab/scss/elements/_icons.scss */
.pe-icon--laptop:before {
  content: '\f109';
}

/* line 162, pattern-lab/scss/elements/_icons.scss */
.pe-icon--book:before {
  content: '\f02d';
}

/* line 166, pattern-lab/scss/elements/_icons.scss */
.pe-icon--list-ul:before {
  content: '\f0ca';
}

/* line 170, pattern-lab/scss/elements/_icons.scss */
.pe-icon--th-large:before {
  content: '\f009';
}

/* line 174, pattern-lab/scss/elements/_icons.scss */
.pe-icon--newspaper-o:before {
  content: '\f1ea';
}

/* line 178, pattern-lab/scss/elements/_icons.scss */
.pe-icon--video-camera:before {
  content: '\f03d';
}

/* line 182, pattern-lab/scss/elements/_icons.scss */
.pe-icon--picture-o:before {
  content: '\f03e';
}

/* line 186, pattern-lab/scss/elements/_icons.scss */
.pe-icon--suitcase:before {
  content: '\f0f2';
}

/* line 190, pattern-lab/scss/elements/_icons.scss */
.pe-icon--caret-right:before {
  content: '\f0da';
}

/* line 194, pattern-lab/scss/elements/_icons.scss */
.pe-icon--caret-down:before {
  content: '\f0d7';
}

/* line 198, pattern-lab/scss/elements/_icons.scss */
.pe-icon--lightbulb-o:before {
  content: '\f0eb';
}

/* line 202, pattern-lab/scss/elements/_icons.scss */
.pe-icon--shopping-cart:before {
  content: '\f07a';
}