// Primary Colors
$blue: $basic-blue;
$light-blue: lighten($sky-blue, 10%);

// Neutral Colors
$gray: $boring;
$light-gray: $sidewalk;
$dark-gray: $gray-no-1; //#4d4d4d


// Utility Colors
$red : #D0021B;
$green: #076826;
$dark-green: darken($green, 15%);
$light-green: lighten($green, 70%);
$disabled: $brightly-lit;

// Measurements
$unit: 1em;