.article_content {
  &.article_body {
    margin-top: 30px;
  }

  p {
    @include pe-copy;
  }

  h2 {
    @include hl1;
    // border-bottom: 1px solid #ddd;
    // margin: 40px 0 10px;
  }

  h3 {
    @include hl2;
    // margin: 30px 0 10px;
  }

  ul {
    @include pe-copy;
    @include pe-ulist;
  }

  ol {
    @include pe-copy;
    @include pe-olist;
  }

  // ul {
  //   margin: 0;
  //   padding-left: 0;
  //   list-style-position: outside;
  //
  //   li {
  //     margin-left: 1em;
  //   }
  // }
  //
  // li > ul {
  //   padding-left: 10px;
  //   list-style-type: none;
  // }

  aside.usage {
    background-color: #f6f6f6;
    border-top: 12px solid #aaa;
    box-sizing: border-box;
    padding: 10px;

    .title {
      margin-bottom: 8px;
    }
  }

  img {
    border: 1px solid #ddd;
    // padding: 20px;
  }
}
