body {
  background-color: pe-color(off-white);
}

.block {
  // temporary
  overflow: hidden;

  padding: 0 10px;
  margin: 0 auto;
  max-width: 480px;

  @include pe-responsive-breakpoint(md) {
    width: 760px;
    max-width: none;
    padding: 0;
  }

  @include pe-responsive-breakpoint(lg) { width: 1000px; }
  @include pe-responsive-breakpoint(xl) { width: 1160px; }

  @include clearfix;

  + .block {
    // margin-top: 60px;
  }

  &:last-child {
    margin-bottom: 60px;
  }

  @import "blocks/article_header";
  @import "blocks/overview";
  @import "blocks/section";
  @import "blocks/two_column";
  @import "blocks/palette";
  @import "blocks/changelog";
  @import "blocks/style_table";
}
