body {
  background-color: pe-color(off-white);
}

.block {
  @include pe-responsive-breakpoint(xs) {
    width: 90%;
    max-width: 370px;
  }
  @include pe-responsive-breakpoint(md) {
    width: 760px;
    max-width: none;
  }
  @include pe-responsive-breakpoint(lg) { width: 1000px; }
  @include pe-responsive-breakpoint(xl) { width: 1160px; }
  margin: 0 auto;

  @include clearfix;

  + .block {
    margin-top: 60px;
  }

  @import "blocks/overview";
  @import "blocks/section";
  @import "blocks/two_column";
  @import "blocks/palette";
  @import "blocks/changelog";
}
