.contact {
  height: 100%;

  .top-level-content {
    height: 100%;
  }

  .table_substitute {
    display: table;
    height: 100%;
    width: 100%;

    .intro_container {
      height: 100%;
    }

    table {
      margin-top: 28px;
    }

    th, td {
        border-bottom: 1px solid #c7c7c7;
        background: white;
        padding: 16px;
    }

    .wrapper {
      margin: 136px 10px 100px;
      max-width: 1170px;

      @include pe-responsive-breakpoint(md) {
        margin-left: 20px;
        margin-right: 20px;
      }

      @include pe-responsive-breakpoint(lg) {
        margin-left: 40px;
        margin-right: 40px;
      }

      @include pe-responsive-breakpoint(xl) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    h1 {
      @extend .pe-page-title;
      margin-bottom: 60px;
    }

    p {
      @extend .pe-copy, .pe-copy--large;
    }

    ul {
      @extend .pe-list, .pe-styled-lists--unordered;
    }
  }

  .frame_container {
    background-color: $pe-color-white;
    text-align: center;
    display: table-row;
    height: 100%;

    iframe {
      max-width: 1170px;
      height: 100%;
      min-height: 800px;
    }
  }

}
