body.home {
  background-color: $pe-color-white;

  .top {
    padding: 100px 10px 80px;
    text-align: center;
    background: url("./img/backer.png") top center no-repeat;
    background-size: cover;

    .content {
      margin: 0 auto;
      @include pe-responsive-breakpoint(md) {
        max-width: 600px;
      }

      .search-container {
        width: 300px;
        margin: 32px auto 0;
        position: relative;

        @include pe-responsive-breakpoint(sm) {
          width: 400px;
        }

        input {
          width: 100%;
          box-sizing: border-box;
          background-color: rgba(255, 255, 255, 0.2);
          color: $pe-color-white;
          padding-right: 40px;

          &:focus {
            box-shadow: 0 0 5px 0 $pe-color-white;
            border-color: $pe-color-white;
          }

          &::placeholder {
            color: $pe-color-white-gray;
          }
        }

        svg {
          color: $pe-color-white;
          position: absolute;
          right: 12px;
          top: 9px;
        }

        .dropdown {
          width: 100%;
          background-color: white;
          display: none;
          position: absolute;
          z-index: 50;
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
          border-radius: 0 0 3px 3px;

          &.open {
            display: block;
          }

          .result {
            text-align: left;
            padding: 12px;

            h5 {
              color: $pe-color-charcoal;
              @extend .pe-label, .pe-label--large;
              margin: 0;
            }

            a {
              text-decoration: none;
            }

            p {
              color: $pe-color-medium-gray;
              @extend .pe-label;
              margin: 0;
            }

            & + .result {
              border-top: 1px solid $pe-color-concrete;
            }

            &.selected {
              background-color: $pe-color-digital-pearson-blue;
              h5, p {
                color: $pe-color-white;
              }
            }

            &:last-child {
              border-radius: 0 0 3px 3px;
            }
          }
        }
      }
    }

    h1 {
      @extend .pe-page-title;
      color: $pe-color-white;
      margin-bottom: 24px;
    }

    p {
      color: $pe-color-white;
    }

    .links {
      a {
        color: $pe-color-white;
      }
    }
  }


  .main-heroes {
    margin-top: 40px;
    padding-bottom: 40px;
    position: relative;
    border-bottom: 1px solid $pe-color-concrete;

    h2 {
      @extend .pe-page-title;
      margin-bottom: 28px;
    }

    & > div {
      text-align: center;
      padding: 40px;
      @include pe-responsive-breakpoint(sm) {
        padding: 40px 80px;
      }
      @include pe-responsive-breakpoint(md) {
        text-align: left;
        width: 50%;
        box-sizing: border-box;
        padding: 80px 60px;
        float: left;
      }
      @include pe-responsive-breakpoint(xl) {
        padding: 80px 100px;
      }
    }

    .design-hero {
      @include pe-responsive-breakpoint(md) {
        border-right: 1px solid $pe-color-concrete;

        a {
          margin-top: 16px;
        }
      }
    }

    .dev-hero {
      @include pe-responsive-breakpoint(md) {
        position: absolute;
        top: 0;
        bottom: 40px;
        right: 0;

        padding: 0 60px;
        margin: 80px 0;

        a {
          position: absolute;
          bottom: 0;
        }
      }
      @include pe-responsive-breakpoint(xl) {
        padding: 0 100px;
      }
    }

    @include clearfix;
  }

  .uikit {
    width: 90%;
    margin: 100px auto;

    @include pe-responsive-breakpoint(lg) {
      max-width: 960px;
    }

    .header {
      display: table;
    }

    h2 {
      display: table-cell;
      vertical-align: middle;
    }

    .button-container {
      display: table-cell;
      vertical-align: middle;
      padding-left: 40px;
    }

    img {
      width: 100%;
      margin-top: 32px;
      border: 1px solid $pe-color-alto;
    }
  }

  .colors {
    border-top: 1px solid $pe-color-concrete;
    padding: 100px 0;

    .heading,
    .palettes {
      width: 90%;
      margin: 0 auto;

      @include pe-responsive-breakpoint(lg) {
        max-width: 960px;
      }
    }

    .heading {
      h2, a {
        display: inline-block;
        vertical-align: middle;
      }

      a {
        margin-left: 20px;
        @extend .pe-label, .pe-label--large;
      }
    }

    .palettes {
      h3 {
        @extend .pe-title, .pe-title--small, .pe-bold;
        margin-bottom: 16px;
      }

      .palette {
        @include clearfix;
        margin-top: 40px;
      }

      .color {
        float: left;

        & + .color {
          margin-left: 20px;
        }
      }

      .swatch {
        width: 176px;
        height: 28px;
        margin-bottom: 8px;

        &.border {
          border: 1px solid $pe-color-alto;
        }
      }

      .swatch + div,
      .swatch + div + div {
        @extend .pe-label, .pe-label--small;
      }
    }
  }

  .contact {
    padding: 80px 10px;
    border-top: 1px solid $pe-color-concrete;
    border-bottom: 1px solid $pe-color-concrete;

    h2 {
      text-align: center;
    }

    ul {
      width: 600px;
      margin: 32px auto 0;
    }
  }

  .newsletter {
    padding: 100px 0;
    text-align: center;
    position: relative;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.6;
      background: url($baseurl + "/img/mailstripe.svg") -76px top repeat-x;
    }
  }

  footer {
    padding: 80px 0 100px;
    background-color: $pe-color-ink-blue;
    color: $pe-color-white;
    @include clearfix;
    font-size: 0;
    text-align: center;

    section {
      width: 90%;
      margin: 0 auto;
      text-align: center;

      @include pe-responsive-breakpoint(md) {
        width: 175px;
        margin: 0 10px;
        text-align: left;
        display: inline-block;
        vertical-align: top;
      }

      & + section {
        margin-top: 40px;

        @include pe-responsive-breakpoint(md) {
          margin-top: 0;
        }
      }
    }

    h3 {
      color: inherit;
      @extend .pe-title, .pe-title--small, .pe-bold;
    }

    li + li {
      margin-top: 12px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
