body.home {
  .top {
    padding: 100px 10px;
    text-align: center;
    background: url("./img/backer.png") center center no-repeat;
    background-size: cover;

    .content {
      margin: 0 auto;
      @include pe-responsive-breakpoint(md) {
        max-width: 500px;
      }
    }

    h1 {
      @extend .pe-title, .pe-title--large;
      color: $pe-color-white;
      margin-bottom: 24px;
    }

    p {
      color: $pe-color-white;
    }

    .links {
      a {
        color: $pe-color-white;
      }
    }
  }



  .chunk {
    border-bottom: 2px solid $pe-color-sunflower-yellow;
    padding: 80px 10px;

    text-align: center;

    .content {
      margin: 0 auto;
      @include pe-responsive-breakpoint(md) {
        max-width: 500px;
      }
    }

    h2 {
      @extend .pe-title, .pe-title--large;
      margin-bottom: 28px;
    }

    button {
      margin-top: 24px;
    }

    .links {
      margin-top: 16px;
    }
  }


  .contact {
    text-align: center;
    padding: 80px 10px;

    .address {
      @extend .pe-label--bold;
      margin-top: 28px;
    }
  }


  footer {
    margin: 20px 0 80px;

    ul {
      list-style-type: none;
      text-align: center;
    }

    li + li {
      margin-top: 12px;
    }

    a {
      text-decoration: none;
      color: $pe-color-charcoal;
      @extend .pe-label, .pe-label--small, .pe-label--bold;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
