body.home {
  background-color: pe-color(off-white);
}

.hero {
  background-color: pe-color(brightly-lit);
  text-align: center;
  padding: 50px 0;

  h1 {
    margin: 0;
  }

  .welcome {
    font-size: 48px;
    font-weight: normal;
    color: pe-color(gutenberg-black);
  }

  .to {
    font-size: 30px;
    font-weight: normal;
    color: pe-color(pitch);
    margin: 10px 0 0 0;
    display: inline-block;
  }

  .name {
    font-size: 90px;
    font-weight: 100;
    color: pe-color(hyperdrive);
  }
}

.contents {
  box-sizing: content-box;
  width: 90%;
  padding: 20px 5% 0;
  @include for-device(sm) {
    width: 80%;
    padding: 30px 10% 0;
  }
  @include for-device(md) {
    width: 70%;
    padding: 40px 15% 0;
  }
  @include for-device(lg) {
    width: 90%;
    padding: 40px 5% 0;
  }
  @include for-device(xl) {
    width: 80%;
    padding: 50px 10% 0;
  }
  background-color: pe-color(off-white);

  &:after {
    content: "";
    width: 100%;
    display: inline-block;
  }

  .section {
    float: left;
    width: 100%;
    margin: 20px 1.5% 0;
    @include for-device(lg) {
      margin-top: 0;
      width: 30.33333%;
    }
    vertical-align: top;
    color: #003057;

    header {
      border-bottom: 3px solid #003057;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin: 10px 0;
    }

    a {
      color: pe-color('pitch');
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.library {
  box-sizing: content-box;
  width: 90%;
  padding: 20px 5% 0;
  @include for-device(sm) {
    width: 80%;
    padding: 30px 10% 0;
  }
  @include for-device(md) {
    width: 70%;
    padding: 40px 15% 0;
  }
  @include for-device(lg) {
    width: 90%;
    padding: 40px 5% 0;
  }
  @include for-device(xl) {
    width: 80%;
    padding: 50px 10% 0;
  }
  background-color: pe-color(off-white);

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  header {
    margin: 0 1.5% 20px;

    border-bottom: 3px solid #003057;
  }

  .component {
    width: 100%;
    margin: 20px 1.5%;
    @include for-device(md) {
      width: 47%;
    }
    @include for-device(lg) {
      width: 30.3333333%;
    }

    float: left;
    display: block;
    box-sizing: border-box;
    border: 2px solid #003057;
    padding: 12px;
    color: pe-color('pitch');
    text-decoration: none;

    .data {
      margin-top: 6px;
    }

    .status {
      float: right;
      text-transform: capitalize;
    }
  }
}
