.search-container {
  width: 300px;
  position: relative;

  @include pe-responsive-breakpoint(sm) {
    width: 400px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    color: $pe-color-white;
    padding-right: 40px;
    margin: 0;

    &:focus {
      box-shadow: 0 0 5px 0 $pe-color-white;
      border-color: $pe-color-white;
    }

    &::placeholder {
      color: $pe-color-white-gray;
    }
  }

  svg {
    color: $pe-color-white;
    position: absolute;
    right: 12px;
    top: 9px;
  }

  .dropdown {
    width: 100%;
    background-color: white;
    display: none;
    position: absolute;
    z-index: 50;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0 0 3px 3px;

    &.open {
      display: block;
    }

    .result {
      text-align: left;
      padding: 12px;

      h5 {
        color: $pe-color-charcoal;
        @extend .pe-label, .pe-label--large;
        margin: 0;
      }

      a {
        text-decoration: none;
      }

      p {
        color: $pe-color-medium-gray;
        @extend .pe-label;
        margin: 0;
      }

      & + .result {
        border-top: 1px solid $pe-color-concrete;
      }

      &.selected {
        background-color: $pe-color-digital-pearson-blue;
        h5, p {
          color: $pe-color-white;
        }
      }

      &:last-child {
        border-radius: 0 0 3px 3px;
      }
    }
  }
}
