.sidebar {
  float: left;
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  border-right: 1px solid $pe-color-concrete;
  background-color: $pe-color-white;
  z-index: 30;

  transform: translateX(-240px);
  transition: transform 0.3s;

  @mixin _sidebarOpen {
    transform: translateX(0);
  }

  &.open {
    @include _sidebarOpen;
  }

  &.narrow-show {
    @media (min-width: 1200px) {
      @include _sidebarOpen;
      button {
        display: none;
      }
    }
  }

  @media (min-width: 1460px) {
    @include _sidebarOpen;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  header {
    @extend .pe-title--small;
    color: $pe-color-digital-pearson-blue;
    padding: 16px 26px 16px 36px;
    border-bottom: 1px solid $pe-color-concrete;
    margin: 0;

    button {
      float: right;
      @include reset-button;
      padding: 0;
      color: inherit;
      position: relative;
      top: 3px;

      @media (min-width: 1460px) {
        display: none;
      }
    }
  }

  .sidebar-toc {
    padding: 0 32px;
    height: calc(100% - 58px);
    overflow-y: auto;

    ul {
      list-style-type: none;
      padding: 0;
    }

    // Set the top level items to be bold
    & > ul > li {
      @extend .pe-label--small, .pe-label--bold;
      margin-top: 10px;

      & li {
        font-weight: normal;
        padding: 4px 12px;
        margin-left: -12px;
        margin-right: -12px;
        margin-top: 4px;
      }
    }

    & > ul > li > ul {
      margin-left: 12px;
    }

    .selected {
      font-weight: bolder;

      background-color: $pe-color-moonlight;
    }
  }
}

.ultimate-header {
  @extend .pe-title--small;
  color: $pe-color-white;
  padding: 9px 16px;
  background-color: $pe-color-ink-blue;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 54px;
  box-sizing: border-box;
  transition: left 0.3s;
  z-index: 26;

  @include pe-responsive-breakpoint(md) {
    padding-left: 36px;
    padding-right: 36px;
  }

  .burger {
    margin-right: 12px;
  }

  @media (min-width: 1460px) {
    left: 240px;

    .burger {
      display: none;
    }
  }

  &.invisible {
    background: none;
  }

  .left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .right {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    @include pe-responsive-breakpoint(md) {
      float: right;
      transform: none;
      right: auto;
      top: auto;
      position: static;
    }

    .search-container {
      display: none;
      margin-right: 20px;

      @include pe-responsive-breakpoint(md) {
        display: inline-block;
      }
    }
  }

  .contact {
    color: $pe-color-white;
    text-decoration: none;

    &:hover {
      color: $pe-color-white;
    }

    svg {
      @include pe-responsive-breakpoint(md) {
        position: relative;
        top: 2px;
        margin-right: 4px;
      }
    }

    .text {
      display: none;

      @include pe-responsive-breakpoint(md) {
        display: inline;
      }
    }
  }
}

.overlay {
  display: none;

  &.open {
    @media (max-width: 1459px) {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 28;
    }
  }
}

.top-level-content {

  &.narrow-show {
    @media (min-width: 1200px) {
      margin-left: 240px;
    }
  }

  @media (min-width: 1460px) {
    margin-left: 240px;
  }
}
