.spec {
  margin: 60px auto;
  @include pe-responsive-breakpoint(xs) {
    width: 90%;
    max-width: 370px;
  }
  @include pe-responsive-breakpoint(md) {
    width: 760px;
    max-width: none;
  }
  @include pe-responsive-breakpoint(lg) {
    width: 1000px;
  }
  @include pe-responsive-breakpoint(xl) {
    width: 1140px;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .toc {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 60px;
    @extend .pe-label;
    @include pe-responsive-breakpoint(lg) {
      width: 210px;
      float: left;
      padding-right: 40px;
    }
    @include pe-responsive-breakpoint(xl) {
      width: 320px;
      // @extend .pe-label-large;
    }

    & > ul > li + li {
      margin-top: 20px;
    }
  }

  .specs {
    width: 100%;
    @include pe-responsive-breakpoint(lg) {
      width: 760px;
      float: left;
    }
  }

  h1 {
    @extend .pe-title;
    @extend .pe-page-title--small;
    margin-top: 0;
  }

  h2 {
    @include hl1;
    margin-bottom: 20px;
  }

  p {
    @extend .pe-copy;
  }

  a {
    @include pe-link;
  }

  .reqs {
    background-color: pe-color(white);
    padding: 20px;

    h3 {
      @include hl2;
    }

    & + .reqs {
      margin-top: 40px;
    }

    .description {
      font-style: italic;
    }

    .description + .req,
    h3 + .req {
      margin-top: 30px;
    }

    .req {
      margin-top: 60px;
      & > div:first-of-type {
        p {
          font-weight: bold;
          margin: 0;
        }

        & + div {
          margin-top: 20px;
        }
      }

      .badge {
        margin-top: 8px;
      }

      .required {
        background-color: hsl(352, 73%, 41%);
        font-weight: normal;
        color: white;
        padding: 2px 8px;
        border-radius: 3px;
        font-size: 10px;
        text-transform: uppercase;
      }

      .should {
        background-color: #EAB624;
        font-weight: normal;
        color: black;
        padding: 2px 8px;
        border-radius: 3px;
        font-size: 10px;
        text-transform: uppercase;
      }

      .explanation,
      .approvers {
        margin-top: 20px;
        border-left: 2px solid #aaa;
        padding-left: 10px;

        .heading {
          font-style: italic;
          margin-bottom: 8px;
          cursor: pointer;
          background: none;
          border: none;
          padding: 0;
          display: block;
        }

        ul {
          @include pe-ulist;
        }

        p {
          margin: 0;

          & + p {
            margin-top: 8px;
          }
        }
      }
    }
  }
}
