.spec {
  margin: 60px auto;
  @include pe-responsive-breakpoint(xs) {
    width: 90%;
    max-width: 370px;
  }
  @include pe-responsive-breakpoint(md) {
    width: 760px;
    max-width: none;
  }
  @include pe-responsive-breakpoint(lg) {
    width: 1000px;
  }
  @include pe-responsive-breakpoint(xl) {
    width: 1140px;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  h1 {
    @extend .pe-page-title, .pe-page-title--small;
    margin-top: 100px;
  }

  h2 {
    @extend .pe-title, .pe-title--large;
    margin-bottom: 20px;
  }

  p {
    @extend .pe-copy;
  }

  .reqs {
    counter-reset: section;

    h3 {
      @extend .pe-label, .pe-bold;
      margin-bottom: 2px;
    }
    & + .reqs { margin-top: 18px; }

    .req {
      cursor: pointer;
      overflow: hidden;
      padding: 6px 16px;
      margin: 0 -16px;
      transition: padding-top 0.3s
                , padding-bottom 0.3s
                , background-color 0.2s
                , box-shadow 0.3s;

      &:hover {
        background-color: $pe-color-white;
      }

      &.open {
        padding: 16px;
        margin:  4px -16px 12px;

        background-color: $pe-color-white;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.20);
      }

      &[data-no-explanation="true"] {
        cursor: default;

        &:hover {
          background-color: transparent;
        }
      }

      .icon {
        float: left;
        height: 22px;
        margin-right: 12px;

        svg {
          position: relative;
          top: 1px;
        }
      }

      .item::before {
        counter-increment: section;
        content: counter(section)". ";
        @extend .pe-copy;
        float: left;
        margin-right: 4px;
      }

      .item {
        overflow: hidden;

        .label > :last-child {
          margin-bottom: 0;
        }
      }

      .explanation {
        margin-top: 12px;
        color: $pe-color-medium-gray;

        ul {
          @extend .pe-list, .pe-styled-lists--unordered;
          color: $pe-color-medium-gray;
        }

        p {
          margin: 0;
          color: $pe-color-medium-gray;

          & + p {
            margin-top: 8px;
          }
        }
      }

    }
  }
}
