@mixin clearfix {
  &:after {
    content: "";
    display: table;
    width: 100%;
  }
}

.video-wrapper {
  position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
  margin: 10px 0;

  iframe {
    position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

.js-tag {
  display: inline-block;
  padding: 2px 6px;
  background: #f7df1e;
  color: pe-color(pitch);
  border-radius: 2px;
  @extend .pe-label;
  @extend .pe-label--bold;
}


@mixin make-grid-parent {
  margin-left: -10px;
  margin-right: -10px;
}

@mixin make-grid-child($cols, $max: 12, $static: false) {
  padding-left: 10px;
  padding-right: 10px;
  @if $static {
    @include pe-responsive-breakpoint(xl) {
      width: $cols/$max * 1150px;
    }
  } @else {
    width: percentage($cols/$max);
  }
  box-sizing: border-box;
}
