<h1 class="pe-page-title">Page Level Heading</h1>
<h1 class="pe-page-title pe-page-title--secondary">Secondary Color Page Level Heading</h1>
<h1 class="pe-page-title pe-page-title--small">Small Page Level Heading</h1>
<h1 class="pe-page-title pe-page-title--small pe-page-title--secondary">Secondary Color Small Page Level Heading</h1>