<h3 class="pe-title pe-title--small"><b>ABBR</b></h3>
<abbr title="HyperText Markup Language">HTML</abbr> document.

<h3 class="pe-title pe-title--small"><b>INS & DEL</b></h3>
<p>It was the best of times, it was the <del>blurst</del><ins>worst</ins> of times&hellip;</p>

<h3 class="pe-title pe-title--small"><b>S</b></h3>
<p>Support is provided for the latest versions of Chrome, Firefox, and Internet Explorer<s>, and IE versions 7 and 8</s>.</p>

<h3 class="pe-title pe-title--small"><b>MARK</b></h3>
<p>The latest report shows that <mark>profits have increased by 15%</mark> over the previous year.</p>

<h3 class="pe-title pe-title--small"><b>EM</b></h3>
<p>I think carrots are ok, but I <em>love</em> beets.</p>
Use <kbd>rm -rf</kbd> to recursively remove files. <strong>Be careful when using<code>-f</code> because it will remove files without prompting for confirmation.</strong>

<h3 class="pe-title pe-title--small"><b>SUB</b></h3>
<p>The main ingredient is H<sub>2</sub>O.</p>

<h3 class="pe-title pe-title--small"><b>SUP</b></h3>
<p>On December 5<sup>th</sup>, the Dutch celebrate Saint Nicholas' Eve.</p>

<h3 class="pe-title pe-title--small"><b>CODE</b></h3>
<p><q cite="https://en.wikipedia.org/wiki/Lost_in_Space#Catchphrases">That does not compute</q>is one of several of the Robot's catchphrases used in the television show <i>Lost in Space</i>.</p>

<h3 class="pe-title pe-title--small"><b>CODE BLOCK</b></h3>
The <code class="pe-code-inline">&lt;section&gt;</code> HTML element represents a section of a document.
<pre class="pe-code"><code>// This is a code example
function greet(greeting) {
  console.log(greeting);
}
greet('hello, world');</code></pre>

<h3 class="pe-title pe-title--small"><b>USER INPUT</b></h3>
<p>
    To switch directories, type <kbd class="pe-kbd">cd</kbd> followed by the name of the directory.<br/>
    To edit settings, press <kbd class="pe-kbd">ctrl</kbd> + <kbd class="pe-kbd">,</kbd>
</p>


