<div class="swatch">
    <div class="main-bg">
        <p class="white">$primary</p>
        <p class="black">$primary</p>
    </div>
    <div class="main-two-bg">
        <p class="white">$primary-two</p>
        <p class="black">$primary-two</p>
    </div>
    <div class="main-three-bg">
        <p class="white">$primary-three</p>
        <p class="black">$primary-three</p>
    </div>
    <div class="main-four-bg">
        <p class="white">$primary-four</p>
        <p class="black">$primary-four</p>
    </div>
</div>