<nav class="side-menu" aria-label="Site menu">
    <h1 class="pe-label--bold">UX Framework</h1>
    <ul class="pe-list pe-list--unstyled nav-list">
        <li>
            <div role="group" aria-labelledby="menu_compounds" id="compounds_list" class="o-panel--open">
                <ul class="pe-list pe-list--unstyled">
                    <li><a href="#foo">About</a></li>
                    <li><a href="#foo">Getting started</a></li>
                    <li><a href="#foo">Contribute</a></li>
                    <li><a href="#foo">Resources</a></li>
                    <li><a href="#foo">Devlopment</a></li>
                    <li><a href="#foo">FAQ</a></li>
                    <li><a href="#foo">Contact</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="pe-list pe-list--unstyled nav-list">
        <li>
            <button type="button" id="menu_compounds" aria-expanded="true" aria-controls="compounds_list">Writing</button>
        </li>
        <li>
            <button type="button" id="menu_compounds" aria-expanded="true" aria-controls="compounds_list">Elements</button>
            <div role="group" aria-labelledby="menu_compounds" id="compounds_list" class="o-panel--open">
                <ul class="pe-list pe-list--unstyled dropdown-list">
                    <li><a href="#foo">Colors</a></li>
                    <li><a href="#foo">Typography</a></li>
                    <li><a href="#foo">Buttons</a></li>
                    <li><a href="#foo">Inputs</a></li>
                    <li><a href="#foo">Breakpoints</a></li>
                    <li><a href="#foo">Grid</a></li>
                    <li><a href="#foo">Icons</a></li>
                </ul>
            </div>
        </li>
        <li>
            <button type="button" id="menu_compounds" aria-expanded="true" aria-controls="compounds_list">Compounds</button>
            <div role="group" aria-labelledby="menu_compounds" id="compounds_list" class="o-panel--open">
                <ul class="pe-list pe-list--unstyled dropdown-list">
                    <li><a href="#foo">Alerts</a></li>
                    <li><a href="#foo">Application header</a></li>
                    <li><a href="#foo">Avatar</a></li>
                    <li><a href="#foo">Avatar display</a></li>
                    <li><a href="#foo">Bar chart</a></li>
                    <li><a href="#foo">Buttons</a></li>
                    <li><a href="#foo">Calendar</a></li>
                    <li><a href="#foo">Coachmark</a></li>
                    <li><a href="#foo">Contextual help</a></li>
                    <li><a href="#foo">Datepicker</a></li>
                    <li><a href="#foo">Drawer</a></li>
                    <li><a href="#foo">Dropdown</a></li>
                    <li><a href="#foo">Forms</a></li>
                </ul>
            </div>
        </li>
    </ul>

</nav>