<div class="cards">
    <div class="title">
        {{> molecules-update-title-card }}
    </div>
    <div class="content">
        {{> molecules-update-content-card }}
        {{> molecules-update-content-card }}
        {{> molecules-update-content-card }}
    </div>
</div>