<div class="cards">
    <div class="title">
        {{> molecules-roadmap-title-card }}
    </div>
    <div class="content">
        {{> molecules-roadmap-content-card }}
        {{> molecules-roadmap-content-card }}
        {{> molecules-roadmap-content-card }}
        {{> molecules-roadmap-content-card }}
    </div>
</div>