.pe-proto {
  &.pe-calendar {
	width:323px;
	border: 1px solid $border;
	background-color:#fff;
	
	.pe-calendar-year {
	  @include flex;
	  padding:0 em(20);
	  height:50px;
	  border-bottom: 1px solid $border;
	  
	  h3 {
		font-weight:500;
		margin:0;
	  }
	}
	.pe-calendar-dates {
	  padding:em(20);
	  
	  .row {
		@include flex;
		
		div, abbr {
		  @include flex($justify-content:center);
		  @include box-size(40px, 35px);
		}
	  }
	  
	  .dates {
		margin-bottom:1px;
		div {
		  background-color:$primary-four;
		  
		  &.outside {
			background-color:#fff;
			&:hover {
			  
			  @include color-mix(#fff, #000);
			  cursor:default;
			}
		  }
		  
		  &.highlight {
			background-color:$secondary-three;
		  }
		  
		  &.selected {
			@include color-mix($primary, #fff);
		  }
		  
		  &.disabled {
			@include color-mix($neutral-five, $neutral);
			cursor:default;
		  
			&:hover {
			  @include color-mix($neutral-five, $neutral);
			  cursor:default;
			}
		  }
		  
		  &:hover {
			@include color-mix($primary-two, #fff);
			cursor:pointer;
		  }
		}
	  }
	}
  }
  &.legend {
	@include box-size(323px, auto);
	@include flex($justify-content: flex-start);
	border:1px solid $border;
	padding: em(20);
	border-top:0;
	
	.box {
	  @include box-size(15px, 15px);
	  background: $secondary-three;
	  margin-right:em(10);
	}
  }
}