<div class="pe-proto coachmark">
    <div class="arrow top"></div>
    <div class="content">
        <div class="title-container">
            <div class="pe-label pe-label--bold">NEW! Coach Marks</div>
            {{> atoms-icon-btn(icon: "remove-sm-24") }}
        </div>
        <p class="pe-copy pe-copy--small">
            {{coachmark.content}}
        </p>
        <a class="coach-link" href="{{ coachmark.url }}">{{ coachmark.link }}</a>
    </div>
</div>
