<h3 class="pe-title pe-title--small">Small UI Section Headings</h3>
<h3 class="pe-title pe-title--small"><b>Small and Bold UI Section Headings</b></h3>
<h3 class="pe-title pe-title--small pe-title--secondary">Secondary Color Small UI Section Headings</h3>
<h3 class="pe-title pe-title--large">Large UI Section Headings</h3>
<h3 class="pe-title pe-title--large"><b>Large and bold UI Section Headings</b></h3>
<h3 class="pe-title pe-title--large pe-title--secondary">Secondary Color Large UI Section Headings</h3>