// Box Reset ///////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



// Background Color Helpers ////////////////////////////////////
////////////////////////////////////////////////////////////////
.black-bg {
  background-color: #000;
}

.white-bg {
  background-color: #fff;
}

.main-bg {
  background-color:$primary;
}

.main-two-bg {
  background-color: $primary-two;
}

.main-three-bg {
  background-color: $primary-three;
}

.main-four-bg {
  background-color: $primary-four;
}

.secondary-bg {
  background-color: $secondary;
}

.secondary-two-bg {
  background-color: $secondary-two;
}

.secondary-three-bg {
  background-color: $secondary-three;
}

.neutral-bg {
  background-color:$neutral;
}

.neutral-two-bg {
  background-color:$neutral-two;
}

.neutral-three-bg {
  background-color:$neutral-three;
}

.neutral-four-bg {
  background-color:$neutral-four;
}

.neutral-five-bg {
  background-color:$neutral-five;
}

.condition-one-bg {
  background-color: $condition-one;
}

.condition-two-bg {
  background-color:$condition-two;
}

// Font Color Helpers - Targets color and fill color for SVG ///
////////////////////////////////////////////////////////////////
.black {
  @include font-color(#000);
}

.white {
  @include font-color(#fff);
}

.primary {
  @include font-color($primary);
}

.main-two {
  @include font-color($primary-two);
}

.main-three{
  @include font-color($primary-three);
}

.main-four {
  @include font-color($primary-four);
}

.secondary {
  @include font-color($secondary);
}

.secondary-two {
  @include font-color($secondary-two);
}

.secondary-three {
  @include font-color($secondary-three);
}

.neutral {
  @include font-color($neutral);
}

.neutral-two {
  @include font-color($neutral-two);
}

.neutral-three {
  @include font-color($neutral-three);
}

.neutral-four {
  @include font-color($neutral-four);
}

.neutral-five {
  @include font-color($neutral-five);
}

.condition-one {
  @include font-color($condition-one);
}

.condition-two {
  @include font-color($condition-two);
}


.text-align-center {
  text-align:center;
}

.flex-container {
  @include flex;
  &.justify-flex-start {
    align-items: center;
    justify-content: flex-start;
  }
}

