<div class="main-wrapper">
    <section class="sidebar">{{> organisms-sidebar-menu }}</section>
    <section class="main-content">
        <header>
            <div class="hero">
                <div class="hero-content">
                    <h1>UX Framework</h1>
                    <p>UX Framework is a unified UI language with guidance and resources for creating user experiences for Pearson applications. <a href="#foo">Learn more </a></p>
                    <button class="pe-btn--btn_xlarge pe-btn__cta">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="b1" class="pe-icon--desktop-18">
                            <title id="b1">Download Craft UI Kit</title>
                            <use xlink:href="#desktop-18"></use>
                        </svg>
                        <span>Download the Craft UI Kit</span>
                    </button>
                    <a href="#foo">How does it work?</a>
                </div>
            </div>
        </header>
        <section class="card-container"> {{> organisms-main-cards }} </section>
        <section class="card-container update">{{> organisms-update-cards }}</section>
        <section class="card-container roadmap">{{> organisms-roadmap-cards }}</section>
        <footer>
            <div class="footer-content text-align-center">
                <p>Questions or feedback?  We are happy to help!</p>
                <h2><a class="pe-page-title pe-page-title--small" href="mailto:pearson-design-accelerator@pearson.com">pearson-design-accelerator@pearson.com</a></h2>
                <ul class="pe-list pe-list--unstyled">
                    <li><a href="#foo">About</a></li>
                    <li><a href="#foo">Getting Started</a></li>
                    <li><a href="#foo">Contribute</a></li>
                    <li><a href="#foo">Resources</a></li>
                    <li><a href="#foo">Development</a></li>
                    <li><a href="#foo">FAQ</a></li>
                    <li><a href="#foo">Contact</a></li>
                </ul>
            </div>
        </footer>
    </section>
</div>