<div class="content-wrapper">
    <section class="sidebar">{{> organisms-sidebar-menu }}</section>
    <section class="main-content">
        <header>
            <div class="hero">
                <div class="hero-content">
                    <h1>UX Framework</h1>
                    <p>UX Framework is a unified UI language with guidance and resources for creating user experiences for Pearson applications.</p>
                    <a href="#foo">Learn More</a>
                </div>
            </div>
        </header>
        <section class="card-container">
            <div class="cards">
                {{> molecules-title-card(title-card-title: "Design", title-card-content: "Start working in Sketch with ready-made UI elements ranging from typography, colors, buttons to modals and more!", show-button: true, title-card-linktext: "How does it work?", button-text: "Download the Craft Library", show-icon: true, icon: "desktop-18")}}
            </div>
        </section>
        <section class="card-container update">
            <div class="cards">
                {{> molecules-title-card(title-card-title: "Develop", title-card-content: "Working on a project? Grab the codes you need to build the applications with these pre-made elements.", show-button: true, button-text: "Go to Elements SDK", show-icon: true, icon: "point-next-18")}}
            </div>
        </section>
        <section class="card-container roadmap">
            <div class="cards">
                {{> molecules-title-card(title-card-title: "Contribute", title-card-content: "Can't find the components you need?  Have great ideas for improving or modifying a component?  Learn about the process of adding a new component to the library.", show-button: true, button-text: "Learn More", icon: " ")}}
            </div>
        </section>
        <footer>
            <div class="footer-content text-align-center">
                <p>Questions or feedback?  We are happy to help!</p>
                <h2><a class="pe-page-title pe-page-title--small" href="mailto:pearson-design-accelerator@pearson.com">pearson-design-accelerator@pearson.com</a></h2>
                <ul class="pe-list pe-list--unstyled">
                    <li><a href="#foo">About</a></li>
                    <li><a href="#foo">Getting Started</a></li>
                    <li><a href="#foo">Contribute</a></li>
                    <li><a href="#foo">Resources</a></li>
                    <li><a href="#foo">Development</a></li>
                    <li><a href="#foo">FAQ</a></li>
                    <li><a href="#foo">Contact</a></li>
                </ul>
            </div>
        </footer>
    </section>
</div>
