<div class="pe-proto dropdown">
    <button class="pe-btn pe-btn__primary primary-two-bg">Primary  {{> atoms-single-icon(icon: "pivot-open-24")}}</button>
    <ul class="pe-list pe-list--unstyled">
        <li>Option One</li>
        <li>Option Two</li>
        <li>Option Three</li>
    </ul>
</div>