<nav class="pe-proto tabs">
    <ul>
        <li><a href="#">All</a></li>
        <li><a href="#" class="disabled">Books</a></li>
        <li><a href="#" class="active">Chapters</a></li>
        <li><a href="#">Readings</a></li>
    </ul>
</nav>