<div class="modal-container">
    <div class="pe-proto modal media">
        <div class='pe-template__static-large title'>
            <div class="top-actions">
                <div class="zoom">
                    {{> atoms-icon-btn(icon: "zoom-out-24")}}
                    {{> atoms-icon-btn(icon: "zoom-in-24")}}
                </div>
                <div class="close">
                    {{> atoms-icon-btn(icon: "remove-lg-18")}}
                </div>
            </div>
        </div>
        <div class='pe-template__static-large'>
            <img src="../../images/image.jpg">
        </div>
    </div>
</div>
