<div class="pe-proto modal">
    <div class='pe-template__static-large'>
        <div class="modal-title">
            <h3 class="pe-title">{{avatar.scale.title}}</h3>
            {{> atoms-icon-btn(icon: "remove-lg-18" ) }}
        </div>
        <div class="modal-content">
            <p>{{avatar.scale.content}}</p>
            <div class="avatar-slider">
                <div class="mask-container">
                    <img src="../../images/image.jpg" class="mask-img" style="position:absolute">
                    <div class="mask"></div>
                    <img class="clip mask-img" src="../../images/image.jpg">
                </div>
                <div class="slider-container">
                    {{> molecules-slider-icons }}
                </div>
            </div>
        </div>
        <div class="actions">
            {{> atoms-default-btn(btn-text: "Cancel")}}
            {{> atoms-primary-btn(btn-text: "Save")}}
        </div>
    </div>
</div>