<div class="pe-proto datepicker">
    <div class="flex-container justify-flex-start">
        <div class="input-container">
            {{> atoms-single-line(label:"Choose a date", placeholder:"mm/dd/yyyy")}}
        </div>
        <div class="icon-container">
            {{> atoms-icon-btn(icon: "calendar-18") }}
        </div>
    </div>
</div>
