<div class="pe-proto datepicker range">
    <div class="flex-container justify-flex-start inputs">
        <div class="flex-container justify-flex-start start">
            <div class="input-container focused">
                {{> atoms-single-line(label:"Choose a start date", placeholder:"mm/dd/yyyy")}}
            </div>
            <div class="icon-container">
                {{> atoms-icon-btn(icon: "calendar-18") }}
            </div>
        </div>
        <div class="flex-container justify-flex-start end">
            <div class="input-container">
                {{> atoms-single-line(label:"Choose a end date", placeholder:"mm/dd/yyyy")}}
            </div>
            <div class="icon-container">
                {{> atoms-icon-btn(icon: "calendar-18") }}
            </div>
        </div>
    </div>
    <div class="cal-container">
        {{> organisms-calendar}}
    </div>
</div>
