<div class="pe-proto pe-calendar">
    <div class="pe-calendar-year">
        <h3 class="pe-calendar-month" id="m1">March 2016</h3>
        <div class="pe-calendar-buttons">
            {{> atoms-icon-btn(icon: "chevron-back-18")}}
            {{> atoms-icon-btn(icon: "chevron-next-18")}}
        </div>
    </div>
    <div class="pe-calendar-dates">
        <div class="row">
            <abbr class="pe-label pe-label--large" title="Sunday">S</abbr>
            <abbr class="pe-label pe-label--large" title="Monday">M</abbr>
            <abbr class="pe-label pe-label--large" title="Tuesday">T</abbr>
            <abbr class="pe-label pe-label--large" title="Wednesday">W</abbr>
            <abbr class="pe-label pe-label--large" title="Thursday">T</abbr>
            <abbr class="pe-label pe-label--large" title="Friday">F</abbr>
            <abbr class="pe-label pe-label--large" title="Saturday">S</abbr>
        </div>
        <div class="row dates">
            <div class="pe-label pe-label--large outside">28</div>
            <div class="pe-label pe-label--large outside">29</div>
            <div class="pe-label pe-label--large">1</div>
            <div class="pe-label pe-label--large">2</div>
            <div class="pe-label pe-label--large">3</div>
            <div class="pe-label pe-label--large">4</div>
            <div class="pe-label pe-label--large">5</div>
        </div>
        <div class="row dates">
            <div class="pe-label pe-label--large">6</div>
            <div class="pe-label pe-label--large">7</div>
            <div class="pe-label pe-label--large">8</div>
            <div class="pe-label pe-label--large selected">9</div>
            <div class="pe-label pe-label--large highlight">10</div>
            <div class="pe-label pe-label--large highlight">11</div>
            <div class="pe-label pe-label--large highlight">12</div>
        </div>
        <div class="row dates">
            <div class="pe-label pe-label--large highlight">13</div>
            <div class="pe-label pe-label--large highlight">14</div>
            <div class="pe-label pe-label--large highlight">15</div>
            <div class="pe-label pe-label--large highlight">16</div>
            <div class="pe-label pe-label--large highlight">17</div>
            <div class="pe-label pe-label--large highlight">18</div>
            <div class="pe-label pe-label--large highlight">19</div>
        </div>
        <div class="row dates">
            <div class="pe-label pe-label--large highlight">20</div>
            <div class="pe-label pe-label--large disabled">21</div>
            <div class="pe-label pe-label--large">22</div>
            <div class="pe-label pe-label--large">23</div>
            <div class="pe-label pe-label--large">24</div>
            <div class="pe-label pe-label--large">25</div>
            <div class="pe-label pe-label--large">26</div>
        </div>
        <div class="row dates">
            <div class="pe-label pe-label--large">27</div>
            <div class="pe-label pe-label--large">28</div>
            <div class="pe-label pe-label--large">29</div>
            <div class="pe-label pe-label--large">30</div>
            <div class="pe-label pe-label--large">31</div>
            <div class="pe-label pe-label--large outside">1</div>
            <div class="pe-label pe-label--large outside">2</div>
        </div>
    </div>
</div>