<div class="pe-proto timepicker">
    <div class="flex-container justify-flex-start">
        <div class="input-container focused">
            {{> atoms-single-line(label:"Choose a time", placeholder:"11:00")}}
        </div>
        <div class="icon-container">
            {{> atoms-icon-btn(icon: "clock-18") }}
        </div>
    </div>
    <div class="cal-container">
        {{> organisms-timepicker}}
    </div>
</div>