<div class="pe-proto slider-icons">
    <div class="flex-container">
        {{> atoms-single-icon(icon:"{{slider.icon.one}}") }}
        {{> molecules-slider }}
        {{> atoms-single-icon(icon:"{{slider.icon.two}}") }}
    </div>
</div>