<div class="content-wrapper">
    <section id="sidebar" class="sidebar">{{> molecules-sidebar-list }}</section>
    <section id="content" class="main-content">
        <div id="overlay" class="test"></div>
        <header>
            <button id="openMainMenu" class="mobile-menu"><span id="bars" class="fa fa-bars fa-2x" aria-hidden="true"></span></button>
            {{> molecules-header }}
        </header>
        <section id="calculateOffset" class="card-container">
            {{> organisms-main-cards }}
        </section>
        <footer>
            <div class="footer-content text-align-center">
                <p>Questions or feedback?  We are happy to help!</p>
                <a class="contact" href="mailto:pearson-design-accelerator@pearson.com">pearson-design-accelerator@pearson.com</a>
                <ul class="pe-list pe-list--unstyled">
                    {{# footerLinks }}
                        <li><a href="{{ url }}">{{ label }}</a></li>
                    {{/ footerLinks }}
                </ul>
            </div>
        </footer>
    </section>
</div>
