<div class="components content-wrapper main-four-bg">
    <section id="sidebar" class="sidebar js-hide">{{> molecules-sidebar-list }}</section>
    <section id="content" class="main-content">
        <div id="overlay" class="test"></div>
        <header class="bar">
            <div class="menu-container">
                <button tabindex='1' id="openMainMenu" class="mobile-menu"><span id="sr-menu" class="sr-only">Menu</span><span id="bars" class="material-icons" aria-hidden="true" title="Menu">menu</span></button>
                <span>{{ menuTitle }}</span>
            </div>
            <span class="pe-xl--visible align-self-end"><a href="#">{{> atoms-material-icon(material-icon: "chat_bubble_outline")}}Question or feedback?</a></span>
        </header>
        <main class="content-padding">
            <section class="info-panel">
                <div class="grouped">
                    <div class="summary">
                        <h1>{{ pageTitle }}</h1>
                        <span>{{ version }}</span>
                    </div>
                    <div class="description">
                        <p>{{ pageDescription }}</p>
                    </div>
                    <div class="actions">
                        {{# actionButtons }}
                            <button class="pe-btn__primary pe-btn--btn_large">{{> atoms-material-icon }} {{ button-text }}</button>
                        {{/actionButtons}}
                    </div>
                </div>
                <div class="flex justify-space-between">
                    <div class="summary-box">
                        <div class="content-box">
                            <h2 class="pe-label pe-label--bold">{{ guidelinesLabel }}</h2>
                            {{# guidelinesDescription }}
                                <p>{{ paragraph }}</p>
                            {{/guidelinesDescription}}
                        </div>
                        <div class="content-box">
                            <ul class="pe-list pe-list--unstyled">
                                {{# typesUsageStyles }}
                                    {{# contentList }}
                                        {{# showHeadingTitle }}
                                            <li class="pe-title pe-title--small"><a href="#{{ url }}" class="no-underline">{{ title }}</a></li>
                                        {{/showHeadingTitle}}
                                    {{/ contentList }}
                                {{/typesUsageStyles}}
                                <li class="pe-title pe-title--small"><a href="#change-log" class="no-underline">Changelog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="grouped flex-start baseline">
                            <div class="actions">
                                {{# actionButtons }}
                                    <button class="pe-btn__primary pe-btn--btn_large">{{> atoms-material-icon }} {{ button-text }}</button>
                                {{/actionButtons}}
                            </div>
                            <div class="content-box">
                                <h2 class="pe-label pe-label--bold">{{ featuresLabel }}</h2>
                                <ul class="pe-list">
                                    {{# featureList }}
                                        <li>{{ label }}</li>
                                    {{/featureList}}
                                </ul>
                            </div>
                            {{# infoLinks }}
                                <div class="content-box no-border">
                                    {{> molecules-title-link }}
                                </div>
                            {{/infoLinks}}
                        </div>
                    </div>
                </div>
            </section>
            <section class="feature-panel">
                <div class="grouped flex-start baseline">
                    <div class="content-box">
                        <h2 class="pe-label pe-label--bold">{{ featuresLabel }}</h2>
                        <ul class="pe-list">
                            {{# featureList }}
                                <li>{{ label }}</li>
                            {{/featureList}}
                        </ul>
                    </div>
                {{# infoLinks }}
                    <div class="content-box no-border">
                        {{> molecules-title-link }}
                    </div>
                {{/infoLinks}}
                </div>
            </section>
            <section class="usage-styles">
                {{# typesUsageStyles }}
                        <div class="content-box">
                            {{# contentList }}
                                {{> molecules-heading-content }}
                            {{/ contentList }}
                        </div>
                {{/ typesUsageStyles }}
            </section>
            <footer>
                <div class="content-box">
                    {{# changeLog }}
                        <h2 id="change-log" class="margin-bottom-triple">{{ title }}</h2>
                        {{# changes}}
                            {{> molecules-change-log }}
                        {{/ changes}}
                    {{/changeLog}}
                </div>
            </footer>
        </main>
    </section>
</div>
