.bar {
  @include flex;
  height:56px;
  padding:1em;
  background-color: $primary-two;
  
  .menu-container {
	display: flex;
	align-items: center;
  }
  
  .mobile-menu {
	position:relative;
	padding:0;
	margin-right:1em;
  }
  
  span {
	color:white;
	
	a {
	  color:white;
	  text-decoration: none;
	  display:flex;
	  align-items: center;
	  .material-icons {
		margin-right:.2em;
		margin-top:.2em;
	  }
	}
  }
}

.actions {
  display:flex;
  @media(min-width:1280px) {
	display:none;
	width:370px;
  }
  button {
	margin-right:1em;
	display:flex;
	  &:last-child {
		margin-right:0;
	  }
	  .material-icons {
		margin-right:.2em;
		&.right {
		  margin-right:0;
		  margin-left: .5em;
		}
	  }
		
	
  }
}
.info-panel {
  flex-direction: column;
  @media(min-width:1280px) {
	border-bottom:1px solid $border;
  }
  .summary {
	@include flex($justify-content: flex-start);
	h1 {
	  margin-right:12px;
	}
  }
  .content-box {
	&:last-child {
	  @media(min-width:1280px) {
		border-bottom: 0;
	  }
	}
  }
  .summary-box {
  padding-right:1em;
	.actions {
	  display:none;
	  @media(min-width:1280px) {
		display:flex;
		width:370px;
	  }
	}
  }
  .feature-box {
	display:none;
	margin-top:-78px;
	@media(min-width:1280px) {
	  display:flex;
	}
	.actions {
	  @media(min-width:1280px) {
		display:flex;
		width:370px;
	  }
	}
	.grouped {
	  flex-direction: column;
	}
  }
}

.feature-panel {
  @media(min-width:768px) {
	padding-bottom:3em;
	border-bottom: 1px solid $border;
  }
  @media(min-width:1280px) {
	display:none;
  }
  .grouped {
	@media(min-width:1280px) {
	  flex-direction: column;
	  align-items: flex-end;
	  justify-content: flex-end;
	  
	  .content-box {
		width:370px;
		display:flex;
		align-self: flex-end;
		flex-direction: column;
	  }
	}
  }
}

.usage-styles {
  .content-box {
	padding-bottom:3em;
	border-bottom:1px solid $border;
  }
  table {
	margin-top:1em;
	padding-top:1em;
	background:white;
  }
}

.grouped {
  flex-direction: column;
  display: flex;
  
  &.flex-start {
	justify-content: flex-start;
	
	> div {
	  width:100%;
	  flex:1;
	}
  }
  
  &.baseline {
	align-items: baseline;
  }
  
  @media(min-width:768px) {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
  }
  .summary {
	@media(min-width:768px) {
	  
	}
  }
  .description {
	@media(min-width:768px) {
	  width:100%;
	}
  }
}

.content-box {
  margin-top:3em;
  
  &:last-child {
	padding-bottom: 3em;
	border-bottom: 1px solid $border;
	&.no-border {
	  @media(min-width:768px) {
		border:0;
	  }
	}
  }
  img {
	max-width:100%;
  }
}

.no-underline {
  text-decoration: none;
}

.align-self-right {
  align-self: flex-end;
}

.content-padding {
  padding: 0 em(12);
  
  @media(min-width:1280px) {
	padding: 3em;
  }
}

.media-fulllist {
  display:flex;
  flex-direction: column;
  .list {
	margin-bottom:2em;
	
	&:last-child {
	  margin-bottom:0;
	}
  }
  ul {
	line-height: 1.57143rem;
  }
}