
button {
  display:inline-flex;
  align-items: center;
  justify-content: center;
}
.content-wrapper {
  display:flex;
  height:100%;
  width:100%;
  position:absolute;
  overflow:hidden;
  border:1px solid $border;
}

.sidebar {
  position:relative;
  z-index:2;
  background-color:white;
  width:240px;
  border-right:1px solid $border;
  overflow:scroll;
  transition: .5s;

  @media(max-width:1280px) {
    height:100%;
    position:absolute;
    top: 0;
    left: -240px;
  }
  
  &.open {
    left:0;
    transition: .5s;
  }
}

.main-content {
  flex:3;
  overflow:scroll;
  
}

.mobile-menu {
  position:absolute;
  background:none;
  appearance: none;
  border:0;
  padding:1em;
  
  span {
    color: white;
    &.primary {
      color: $primary;
    }
  }
  @media(min-width:1281px) {
    display:none;
  }
}

.card-container {
  border-bottom: 1px solid $secondary;
}

.footer-content {
  padding:5em 1em;
  
  @media(max-width:640px) {
    padding:2em;
  }
  
  
  a {
    display:inline-flex;
    text-decoration: none;
    color:$neutral-two;
    margin-bottom:.875em;
    font-weight:bold;
    font-size: em(14);
    &.contact {
      font-weight:300;
      font-size: em(38);
      @media(max-width:768px) {
        font-size:2em;
      }
      @media(max-width:640px) {
        font-size:1em;
        font-weight: bold;
        margin-bottom:2em;
      }
    }
  }
}

.overlay {
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  background-color: black;
  opacity: 0.5;
  @media (min-width:1281px) {
    display:none;
  }
}
