<p>The colored dots seen next to the patterns in the top navigation, indicate the source or state of the pattern.</p>
<ul class="pe-list pe-list--unstyled">
    <li class="inprogress padding">in progress - final not complete, used for prototyping only</li>
</ul>