.pe-proto {
  &.modal {

	.avatar-slider{
	  position:relative;
	}
	 
	.mask-container {
	  position:relative;
	  
	  .mask {
		@include box-size(100%, 100%);
		background-color:#000;
		position:absolute;
		top:0;
		opacity:.7;
		
	  }
	  .clip {
		clip-path: inset(30% 27% 26% 26%);
		cursor: move;
	  }
	}
	
	.slider-container {
	  width:100%;
	  .container {
		background-color:$primary-four;
		padding: 0 1em;
	  }
	}
  }
}

.mask-img {
  max-width:100% !important;
}
