<!DOCTYPE html>
<html class="core">
{% include header.html %}
<body class="article">
  {% include sidebar.html %}

  <div class="top-level-content">
    <div class="parent">
      <section class="toc">
      </section>

      <article>
        <h1>{{page.title}}</h1>

        {{content}}
      </article>
    </div>
  </div>

  <script type="text/javascript">
    var toc = document.querySelector('#markdown-toc');

    if (toc) {
      document.querySelector('section.toc').appendChild(toc.cloneNode(true));
    }
  </script>

  <script type="text/javascript">
    var headings = document
                      .querySelector('.article article')
                      .querySelectorAll('h2');

    window.addEventListener('scroll', function(e) {
      var scrolledAmount = window.scrollY
        , centerOffset = document.documentElement.clientHeight / 2
        , topToCenter = scrolledAmount + centerOffset;

      var bestDelta = Number.MAX_SAFE_INTEGER;
      var bestID = '';
      for (var i = 0; i < headings.length; i++) {
        var heading = headings.item(i)
          , distFromTop = heading.getBoundingClientRect().top + scrolledAmount
          , delta = topToCenter - distFromTop;

        if (delta < bestDelta && delta > 0) {
          bestDelta = delta;
          bestID = heading.id;
        }
      }

      document.querySelectorAll('section.toc .active').forEach(function(x) {
        x.classList.remove('active');
      });

      document
        .querySelector('section.toc #markdown-toc-' + bestID)
        .classList
        .add('active');

    });

  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75266302-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
