<!DOCTYPE html>
<html class="core">
  {% include header.html %}
  <body>

    {% assign max_major = 0 %}
    {% assign max_minor = 0 %}
    {% assign max_patch = 0 %}
    {% assign max_beta  = 1 %}

    {% assign versions = (site.pages | where: "title", page.title) %}
    {% for version in versions %}
      {% if version.version == nil or version.private == true %}
      {% elsif version.version contains "beta" %}

        {% assign semver = (version.version | split: '.') %}
        {% assign major = (semver[0] | round) %}
        {% assign minor = (semver[1] | round) %}
        {% assign patch = (semver[2] | split: '-' | first | round) %}
        {% assign beta  = (semver[3] | round) %}

        {% if major > max_major %}
          {% assign max_major = major %}
          {% assign max_minor = minor %}
          {% assign max_patch = patch %}
          {% assign max_beta  = beta %}
        {% elsif major == max_major and minor > max_minor %}
          {% assign max_minor = minor %}
          {% assign max_patch = patch %}
          {% assign max_beta  = beta %}
        {% elsif major == max_major and minor == max_minor and patch > max_patch %}
          {% assign max_patch = patch %}
          {% assign max_beta  = beta %}
        {% elsif major == max_major and  minor == max_minor and patch == max_patch and beta > max_beta %}
          {% assign max_beta = beta %}
        {% endif %}

      {% endif %}
    {% endfor %}

    {% capture latest_version %}{{max_major}}.{{max_minor}}.{{max_patch}}-beta.{{max_beta}}{% endcapture %}
    {% assign page = (site.pages | where: "title", page.title | where: "version", latest_version | first) %}

    {% include sidebar.html %}

    {% include component-details.html beta="true" %}

    <script>

      var img = document.querySelectorAll("img:not([src*='{{page.version}}'])")
      for (var i = 0; i < img.length; i++) {
        var newSrc = img.item(i).src.replace(/beta\/assets\//, 'v{{page.version}}/assets/')
        img.item(i).src = newSrc;
      }

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75266302-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
