<!DOCTYPE html>
<html class="core" style="height: 100%;">
{% include header.html %}
<body class="contact">
  {% include sidebar.html %}

  <div class="top-level-content">
    <div class="table_substitute">

      <div class="intro_container">
        <div class="wrapper">
          <h1>Questions or feedback? Let us know!</h1>

          <table>
            <tr>
              <th>UXF Design Team</th>
              <td><a href="mailto:uxf-design@pearson.com" target="_blank">uxf-design@pearson.com</a>  OR  <a href="https://pearsondesign.slack.com/messages/C1BSBNVS9" target="_blank">Slack Channel:#uxframework</a></td>
            </tr>
            <tr>
              <th>UXF Development Team</th>
              <td><a href="mailto:uxf-development@pearson.com" target="_blank">uxf-development@pearson.com</a>  OR  <a href="https://pearson.hipchat.com/chat/room/2931720" target="_blank">HiptChat: UXF Help (PDA)</a></td>
            </tr>
            <tr>
              <th>UXF Accessibility</th>
              <td><a href="https://www.hipchat.com/gihhgSA1x" target="_blank">HipChat: Accessibility Help</a></td>
            </tr>
            <tr>
              <th>UXF Discussion</th>
              <td>Post your questions or comments below</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="frame_container">
        <iframe id="forum_embed"
          src="javascript:void(0)"
          scrolling="no"
          frameborder="0"
          width="100%">
        </iframe>
      </div>
      <script type="text/javascript">
        document.getElementById('forum_embed').src =
           'https://groups.google.com/a/pearson.com/forum/embed/?place=forum/elemental-discuss'
           + '&showsearch=true&showpopout=true&showtabs=false'
           + '&parenturl=' + encodeURIComponent(window.location.href);
      </script>

    </div>
  </div>
</body>
