<!DOCTYPE html>
<html class="core">
{% include header.html %}
<body class="home">
	{% include construction.html %}
	<div class="hero">
		<h1><span class="welcome">Welcome</span><br>
			<span class="to">to the</span><br>
			<span class="name">UX Framework</span></h1>
	</div>

	<div class="contents">
		<div class="section">
			<header class="pe-title">Learn</header>
			<ul>
				{% assign learn = (site.pages | where: "section", "learn") %}
				{% for page in learn %}
					{% if page.url contains 'beta' %}
					{% else %}
					<li class="pe-label pe-label--large"><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<div class="section">
			<header class="pe-title">Use</header>
			<ul>
				{% assign use = (site.pages | where: "section", "use") | sort: "title" | sort: "order", "last" %}
				{% for page in use %}
					{% if page.url contains 'beta' %}
					{% else %}
					<li class="pe-label pe-label--large"><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<div class="section">
			<header class="pe-title">Contribute</header>
			<ul>
				{% assign contribute = (site.pages | where: "section", "contribute") | sort: "title" | sort: "order", "last" %}
				{% for page in contribute %}
					{% if page.url contains 'beta' %}
					{% else %}
					<li class="pe-label pe-label--large"><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
					{% endif %}
				{% endfor %}
				<li class="pe-label pe-label--large"><a href="https://groups.google.com/a/pearson.com/forum/#!forum/elemental-discuss/categories">Mailing List</a></li>
			</ul>
		</div>
	</div>

	<div id="library" class="library">
		<header class="pe-title clearfix">
			Library
			<span class="pull-right clearfix">
				<div class="pe-checkbox pe-checkbox--unchecked">
			    <input type="checkbox" id="chk3" checked name="proposed"><label for="chk3">Proposed</label>
			  </div>

				<div class="pe-checkbox pe-checkbox--unchecked">
			    <input type="checkbox" id="chk4" checked name="designed"><label for="chk4">Designed</label>
			  </div>

				<div class="pe-checkbox pe-checkbox--unchecked">
			    <input type="checkbox" id="chk5" checked name="developed"><label for="chk5">Developed</label>
			  </div>
			</span>
		</header>
		{% assign component_names = (site.pages | where: "section", "Components") | map: "title" | uniq | sort %}

		{% assign components = (site.pages | where: "section", "Components") | sort:"title" %}

		{% for component in component_names %}
			{% assign versions = (components | where: "title", component) | where: "status", "active" %}

			<!-- FIND LATEST OFFICIAL DESIGN -->
			{% assign max_major = 0 %}
	    {% assign max_minor = 0 %}
	    {% assign max_patch = 0 %}

	    {% for version in versions %}
	      {% if version.version contains "beta" or version.version == nil %}
	      {% else %}
	        {% assign semver = (version.version | split: '.') %}
	        {% assign major = (semver[0] | round) %}
	        {% assign minor = (semver[1] | round) %}
	        {% assign patch = (semver[2] | split: '-' | first | round) %}

	        {% if major > max_major %}
	          {% assign max_major = major %}
	          {% assign max_minor = minor %}
	          {% assign max_patch = patch %}
	        {% elsif major == max_major and minor > max_minor %}
	          {% assign max_minor = minor %}
	          {% assign max_patch = patch %}
	        {% elsif major == max_major and minor == max_minor and patch > max_patch %}
	          {% assign max_patch = patch %}
	        {% endif %}

	      {% endif %}
	    {% endfor %}

	    {% capture latest_version %}{{max_major}}.{{max_minor}}.{{max_patch}}{% endcapture %}


			<!-- FIND LATEST BETA VERSION -->
			{% assign max_major = 0 %}
	    {% assign max_minor = 0 %}
	    {% assign max_patch = 0 %}
	    {% assign max_beta  = 1 %}

	    {% for version in versions %}
	      {% if version.version == nil %}
	      {% elsif version.version contains "beta" %}

	        {% assign semver = (version.version | split: '.') %}
	        {% assign major = (semver[0] | round) %}
	        {% assign minor = (semver[1] | round) %}
	        {% assign patch = (semver[2] | split: '-' | first | round) %}
	        {% assign beta  = (semver[3] | round) %}

	        {% if major > max_major %}
	          {% assign max_major = major %}
	          {% assign max_minor = minor %}
	          {% assign max_patch = patch %}
	          {% assign max_beta  = beta %}
	        {% elsif major == max_major and minor > max_minor %}
	          {% assign max_minor = minor %}
	          {% assign max_patch = patch %}
	          {% assign max_beta  = beta %}
	        {% elsif major == max_major and minor == max_minor and patch > max_patch %}
	          {% assign max_patch = patch %}
	          {% assign max_beta  = beta %}
	        {% elsif major == max_major and  minor == max_minor and patch == max_patch and beta > max_beta %}
	          {% assign max_beta = beta %}
	        {% endif %}

	      {% endif %}
	    {% endfor %}

	    {% capture latest_beta_version %}{{max_major}}.{{max_minor}}.{{max_patch}}-beta.{{max_beta}}{% endcapture %}


			<!-- FIND LATEST OFFICIAL DESIGN WITH AN IMPLEMENTATION -->
			{% assign max_major = 0 %}
	    {% assign max_minor = 0 %}
	    {% assign max_patch = 0 %}

	    {% for version in versions %}
	      {% if version.version contains "beta" or version.version == nil %}
	      {% elsif version.implemented %}
	        {% assign semver = (version.version | split: '.') %}
	        {% assign major = (semver[0] | round) %}
	        {% assign minor = (semver[1] | round) %}
	        {% assign patch = (semver[2] | split: '-' | first | round) %}

	        {% if major > max_major %}
	          {% assign max_major = major %}
	          {% assign max_minor = minor %}
	          {% assign max_patch = patch %}
	        {% elsif major == max_major and minor > max_minor %}
	          {% assign max_minor = minor %}
	          {% assign max_patch = patch %}
	        {% elsif major == max_major and minor == max_minor and patch > max_patch %}
	          {% assign max_patch = patch %}
	        {% endif %}

	      {% endif %}
	    {% endfor %}

	    {% capture latest_impl_version %}{{max_major}}.{{max_minor}}.{{max_patch}}{% endcapture %}


			<!-- SPIT OUT THE ACTUAL LITTLE CARD -->
			{% if latest_version != '0.0.0' %}
				{% assign latest_component = (versions | where: "version", latest_version) | first %}
			{% else %}
				{% assign latest_component = (versions | where: "version", latest_beta_version) | first %}
			{% endif %}

			{% capture status %}
				{% if latest_impl_version != '0.0.0' %}
					developed
				{% elsif latest_version != '0.0.0' %}
					designed
				{% else %}
					proposed
				{% endif %}
			{% endcapture %}

			<div class="component" href="{{site.baseurl}}{{page.url}}../beta" data-status={{status}}>

				<a href="{{site.baseurl}}{{latest_component.url}}../{% if latest_component.url contains 'beta' %}beta{% endif %}">
					<span class="pe-label pe-label--bold">{{component}}</span>
					<div class="data pe-label">
						{{latest_component.tagline}}
					</div>
				</a>

				<div class="versions">
					{% if latest_version != '0.0.0' %}
						<a href="{{site.baseurl}}{{latest_component.url}}../" class="version pe-label pe-label--small">
							Design
							<br />
							v{{latest_version}}
						</a>
					{% endif %}

					{% if latest_impl_version != '0.0.0' %}
						<a href="{{site.baseurl}}{{latest_component.url}}" class="version pe-label pe-label--small">
							Code
							<br />
							v{{latest_version}}
						</a>
					{% endif %}

					{% if latest_beta_version != '0.0.0-beta.1' %}
						<a href="{{site.baseurl}}{{latest_component.url}}../beta" class="version pe-label pe-label--small">
							Beta
							<br />
							v{{latest_beta_version}}
						</a>
					{% endif %}
				</div>

			</div>
		{% endfor %}
	</div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-75266302-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<script>
		// shortcut for getting a proper array of nodes back from a DOM selection
		var queryArray = function(selector) {
			nodes = document.querySelectorAll(selector);
			nodesArray = [];
			for (var i = 0; i < nodes.length; i++) {
				nodesArray.push(nodes.item(i));
			}
			return nodesArray;
		}

		var hideComponent = function(node) { node.style.display = "none"; }
		var showComponent = function(node) { node.style.display = "block"; }

		// returns a map of 'filter name' => T/F for the currently selected filters
		var getFilters = function() {
			var inputs = queryArray('.library input');
			return inputs.reduce(function(memo, input) {
				memo[input.name] = input.checked;
				return memo;
			}, {});
		}

		// returns boolean for whether a component matches the current filters
		var componentMeetsFilters = function(component, filters) {
			return filters[component.dataset.status];
		}

		var onFilterChange = function(e) {
			var components = queryArray('div.component'),
			    filters = getFilters();

			components.forEach(function(component) {
				if (componentMeetsFilters(component, filters)) {
					showComponent(component);
				} else {
					hideComponent(component);
				}
			});
		}

		queryArray(".library input").forEach(function(input) {
			input.addEventListener("change", onFilterChange);
		});

	</script>
</body>
</html>
