<!DOCTYPE html>
<html class="core">
{% include header.html %}
<body class="home">
	{% include construction.html %}
	<div class="hero">
		<h1><span class="welcome">Welcome</span><br>
			<span class="to">to</span><br>
			<span class="name">Elemental Design</span></h1>
	</div>

	<div class="contents">
		<div class="section">
			<header class="pe-title">Learn</header>
			<ul>
				{% assign learn = (site.pages | where: "section", "learn") %}
				{% for page in learn %}
					{% if page.url contains 'beta' %}
					{% else %}
					<li class="pe-label pe-label--large"><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<div class="section">
			<header class="pe-title">Use</header>
			<ul>
				{% assign use = (site.pages | where: "section", "use") %}
				{% for page in use %}
					{% if page.url contains 'beta' %}
					{% else %}
					<li class="pe-label pe-label--large"><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<div class="section">
			<header class="pe-title">Contribute</header>
			<ul>
				{% assign contribute = (site.pages | where: "section", "contribute") %}
				{% for page in contribute %}
					{% if page.url contains 'beta' %}
					{% else %}
					<li class="pe-label pe-label--large"><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
					{% endif %}
				{% endfor %}
				<li class="pe-label pe-label--large"><a href="https://groups.google.com/a/pearson.com/forum/#!forum/elemental-discuss/categories">Mailing List</a></li>
			</ul>
		</div>
	</div>

	<div id="library" class="library">
		<header class="pe-title">Library</header>
		{% assign components = (site.pages | where: "section", "Components") | sort:"title" %}
		{% for page in components %}
			{% if page.version contains 'beta' or page.url contains 'beta' or page.status != 'active' %}
			{% else %}
				<a class="component" href="{{site.baseurl}}{{page.url}}..">
					<span class="pe-label pe-label--bold">{{page.title}}</span>
					<div class="data pe-label">
						<span>Version {{page.version}}</span>
						<span class="status">{% if page.implemented %}Implemented{% else %}Unimplemented{% endif %}</span>
					</div>
				</a>
			{% endif %}
		{% endfor %}
	</div>

	<div id="library" class="library">
		<header class="pe-title">In Progress Components</header>
		{% assign components = (site.pages | where: "section", "Components") | sort:"title" %}
		{% for page in components %}
			{% if page.status != 'active' %}
			{% elsif page.url contains 'beta' %}
				{% assign versions = (site.pages | where: "title", page.title) %}
				{% assign max = 0 %}

				{% for version in versions %}
					{% assign num = (version.version | split: '.' | last | round) %}
					{% if num > max %}
						{% assign max = num %}
					{% endif %}
				{% endfor %}

				{% assign this_num = (page.version | split: '.' | last | round) %}
				{% if this_num == max %}
					<a class="component" href="{{site.baseurl}}{{page.url}}../beta">
						<span class="pe-label pe-label--bold">{{page.title}}</span>
						<div class="data pe-label">
							<span>Version {{page.version}}</span>
							<span class="status">{% if page.implemented %}Implemented{% else %}Unimplemented{% endif %}</span>
						</div>
					</a>
				{% endif %}
			{% endif %}

		{% endfor %}
	</div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-75266302-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
