<!DOCTYPE html>
<html class="core">
{% include header.html %}
<body class="home">
	{% include construction.html %}
	<div class="hero">
		<h1><span class="welcome">Welcome</span><br>
			<span class="to">to the</span><br>
			<span class="name">UX Framework</span></h1>
	</div>

	<div class="contents">
		<div class="section">
			<header class="pe-title">Learn</header>
			<ul>
				{% assign learn = (site.pages | where: "section", "learn") %}
				{% for page in learn %}
					{% if page.url contains 'beta' %}
					{% else %}
					<li class="pe-label pe-label--large"><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<div class="section">
			<header class="pe-title">Use</header>
			<ul>
				{% assign use = (site.pages | where: "section", "use") | sort: "title" | sort: "order", "last" %}
				{% for page in use %}
					{% if page.url contains 'beta' %}
					{% else %}
					<li class="pe-label pe-label--large"><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<div class="section">
			<header class="pe-title">Contribute</header>
			<ul>
				{% assign contribute = (site.pages | where: "section", "contribute") | sort: "title" | sort: "order", "last" %}
				{% for page in contribute %}
					{% if page.url contains 'beta' %}
					{% else %}
					<li class="pe-label pe-label--large"><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
					{% endif %}
				{% endfor %}
				<li class="pe-label pe-label--large"><a href="https://groups.google.com/a/pearson.com/forum/#!forum/elemental-discuss/categories">Mailing List</a></li>
			</ul>
		</div>
	</div>

	<div id="library" class="library">
		<header class="pe-title clearfix">
			Library
			<span class="pull-right clearfix">
				<div class="pe-checkbox pe-checkbox--unchecked">
			    <input type="checkbox" id="chk3" checked name="proposed"><label for="chk3">Proposed</label>
			  </div>

				<div class="pe-checkbox pe-checkbox--unchecked">
			    <input type="checkbox" id="chk4" checked name="designed"><label for="chk4">Designed</label>
			  </div>

				<div class="pe-checkbox pe-checkbox--unchecked">
			    <input type="checkbox" id="chk5" checked name="developed"><label for="chk5">Developed</label>
			  </div>
			</span>
		</header>
		{% assign components = (site.pages | where: "section", "Components") | sort:"title" %}
		{% for page in components %}
			{% if page.status != 'active' %}
			{% elsif page.url contains 'beta' %}
				{% assign versions = (site.pages | where: "title", page.title) %}
				{% assign max = 0 %}

				{% for version in versions %}
					{% assign num = (version.version | split: '.' | last | round) %}
					{% if num > max %}
						{% assign max = num %}
					{% endif %}
				{% endfor %}

				{% assign this_num = (page.version | split: '.' | last | round) %}
				{% if this_num == max %}
					<a class="component" href="{{site.baseurl}}{{page.url}}../beta" data-status="proposed">
						<span class="pe-label pe-label--bold">{{page.title}}</span>
						<div class="data pe-label">
							{{page.tagline}}
						</div>
						<span class="pe-label">v{{page.version}}</span>
						<span class="status pe-label pe-label--small">Proposed</span>
					</a>
				{% endif %}
			{% else %}
				<a class="component" href="{{site.baseurl}}{{page.url}}../" data-status="{% if page.implemented %}developed{% else %}designed{% endif %}">
					<span class="pe-label pe-label--bold">{{page.title}}</span>
					<div class="data pe-label">
						{{page.tagline}}
					</div>
					<span class="pe-label">v{{page.version}}</span>
					<span class="status pe-label pe-label--small">{% if page.implemented %}Developed{% else %}Designed{% endif %}</span>
				</a>
			{% endif %}
		{% endfor %}
	</div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-75266302-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<script>
		var queryArray = function(selector) {
			nodes = document.querySelectorAll(selector);
			nodesArray = [];
			for (var i = 0; i < nodes.length; i++) {
				nodesArray.push(nodes.item(i));
			}
			return nodesArray;
		}

		var hideComponent = function(node) { node.style.display = "none"; }
		var showComponent = function(node) { node.style.display = "block"; }

		var getFilters = function() {
			var inputs = queryArray('.library input');
			return inputs.reduce(function(memo, input) {
				memo[input.name] = input.checked;
				return memo;
			}, {});
		}

		var componentMeetsFilters = function(component, filters) {
			console.log(component.dataset, filters);
			return filters[component.dataset.status];
		}

		var onFilterChange = function(e) {
			var components = queryArray('a.component'),
			    filters = getFilters();

			components.forEach(function(component) {
				if (componentMeetsFilters(component, filters)) {
					showComponent(component);
				} else {
					hideComponent(component);
				}
			});
		}

		queryArray(".library input").forEach(function(input) {
			input.addEventListener("change", onFilterChange);
		});

	</script>
</body>
</html>
