<!DOCTYPE html>
<html class="core">
{% include header.html %}
<body class="side-toc">
  {% include construction.html %}
  {% include navigation.html %}

  <div class="sidebar">
    <ul>
      {% assign last_type = "" %}

      {% for block in page.blocks %}
        {% case block.type %}

        {% when 'main section' %}
          {% if last_type == 'secondary section' %}
            </li></ul></li>
          {% elsif last_type == 'main section' %}
            </li>
          {% endif %}

          <li>{{block.content}}
          {% assign last_type = block.type %}

        {% when 'secondary section' %}
          {% if last_type == 'main section' %}
            <ul>
          {% elsif last_type == 'secondary section' %}
            </li>
          {% elsif last_type == 'content' %}
            </li></ul></li>
          {% endif %}
          <li>{{block.content}}
          {% assign last_type = block.type %}

        {% when 'content' %}
          {% if block.title %}
            {% if last_type == 'secondary section' %}
              <ul>
            {% elsif last_type == 'content' %}
              </li>
            {% endif %}
            <li>{{block.title}}
            {% assign last_type = block.type %}
          {% endif %}

        {% endcase %}
      {% endfor %}

      {% if last_type == 'secondary section' %}
        </li></ul>
      {% elsif last_type == 'content' %}
        </li></ul></li></ul>
      {% endif %}
    </li></ul>
  </div>

  <div class="main-content">
    <div class="content">
      <h1>{{page.title}}</h1>

      {% for block in page.blocks %}

        {% case block.type %}

        {% when 'main section' %}
        <h2>{{block.content}}</h2>

        {% when 'secondary section' %}
        <h3>{{block.content}}</h3>

        {% when 'content' %}
        {% if block.title %}
          <h4>{{block.title}}</h4>
        {% endif %}
        {{block.content | markdownify}}

        {% for image in block.images %}
          <img src="{{image.src}}">
        {% endfor %}

        {% endcase %}

      {% endfor %}
    </div>
  </div>



  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75266302-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
