<!DOCTYPE html>
<html class="core">
{% include header.html %}
<body class="membership">
  {% include sidebar.html %}

  <div class="top-level-content">

    <div class="spec">
      <h1>{{page.title}}</h1>
      <p>Version {{page.version}}</p>

      <div>
        {{page.intro | markdownify}}
      </div>

      <h2 id="design-requirements">Design Requirements</h2>

      {% for section in page.design_reqs %}
      <div class="reqs">
        <h3 id="{{section.name | slugify}}">{{section.name}}</h3>

        {% for req in section.reqs %}
        <div class="req" {% unless req.extras %}data-no-explanation="true"{% endunless %}>
          <div class="icon">
            <svg style="vertical-align:baseline"
                 aria-hidden="true"
                 focusable="false"
                 class="pe-icon--checkbox-off-18">
              <use xlink:href="#checkbox-off-18"></use>
            </svg>
          </div>
          <div class="item">
            <div class="label">{{req.req | markdownify}}</div>

            <div class="explanation">
              {% for extra in req.extras %}
                {{extra.content | markdownify}}
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      {% endfor %}


      <h2 id="dev-requirements">Development Requirements</h2>
      {% for section in page.dev_reqs %}
      <div class="reqs">
        <h3 id="{{section.name | slugify}}">{{section.name}}</h3>
        {% if section.description %}<div class="description">{{section.description | markdownify}}</div>{% endif %}

        {% for req in section.reqs %}
        <div class="req">
          <div>
            {{req.req | markdownify}}
            {% if req.type == 'mandatory' %}
              <span class="required">Mandatory</span>
            {% else if req.type == 'suggested' %}
              <span class="should">Strongly Recommended</span>
            {% endif %}
          </div>

          {% for extra in req.extras %}
          <div class="explanation">
            <button class="heading">{{extra.name}}</button>
            <div class="content">{{extra.content | markdownify}}</div>
          </div>
          {% endfor %}

          <div class="approvers">
            <button class="heading">Approvers</button>
            <div class="content">
              <ul>
                {% for approver in req.approvers %}
                <li>{{approver}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      {% endfor %}


      <h2 id="changelog">Changelog</h2>
      {% for change in page.changelog %}
        {% if change.version != page.version %}
          <h3><a href="./v{{change.version}}">{{change.version}}</a></h3>
        {% else %}
          <h3>{{change.version}}</h3>
        {% endif %}
        {{change.changes | markdownify}}
      {% endfor %}

    </div>

  </div>

  <script type="text/javascript">
    var hideExtras = function(except) {
      var items = document.querySelectorAll('.req')
      for (var i = 0; i < items.length; i++) {
        if (items[i] == except) continue

        items[i].classList.remove('open')
        var explanation = items[i].querySelector('.explanation')
        if (explanation) explanation.style.display = 'none'
        // items[i].previousElementSibling.setAttribute('aria-expanded', 'false');
      }
    }
    //
    var toggleExtra = function(req) {
      hideExtras(req)

      if (req.dataset.noExplanation) return

      req.classList.toggle('open')

      var explanation = req.querySelector('.explanation')
      if (explanation.style.display == 'none') {
        explanation.removeAttribute('style')
      } else {
        explanation.style.display = 'none'
      }

      // if (content.getAttribute('aria-expanded') == 'false') {
      //   content.previousElementSibling.setAttribute('aria-expanded', 'true');
      // } else {
      //   content.previousElementSibling.setAttribute('aria-expanded', 'false');
      // }
    }
    //
    hideExtras();
    document.querySelector('.spec').addEventListener('click', function(e) {
      toggleExtra(e.target.closest('.req'))
    });
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75266302-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
