<header>
    <h1>Title Element 1</h1>
    <p class="subtitle">Subtitle, sized based on the preceding element</p>
</header>
<header>
    <h2>Title Element 2</h2>
    <p class="subtitle">Subtitle, sized based on the preceding element</p>
</header>
<header>
    <h3>Title Element 3</h3>
    <p class="subtitle">Subtitle, sized based on the preceding element</p>
</header>
<header>
    <h4>Title Element 4</h4>
    <p class="subtitle">Subtitle, sized based on the preceding element</p>
</header>
<header>
    <h5>Title Element 5</h5>
    <p class="subtitle">Subtitle, sized based on the preceding element</p>
</header>