.pe-proto {
  &.contextual-help {
	@include box-shadow;
	max-width:320px;
	min-height:100vh;
	
	.title-container {
	  padding: em(20);
	  @include flex;
	  h3 {
		margin:0;
	  }
	}
	
	.content-container {
	  padding:em(20);
	  border-top:1px solid $neutral;
	  
	  .content {
		border-bottom:1px solid $neutral;
		padding:em(20) 0;
		
		&:first-child {
		  padding-top:0;
		}
		&:last-child {
		  border:0;
		}
	  }
	  .pe-label {
		margin-bottom:em(20);
		
	  }
	}
  }
}
