<div class="pe-proto alert-box success">
    <div class="alert-title">
        <div class="pe-label">{{alert.success.label}}</div>
        {{> atoms-single-icon(icon: "remove-lg-18") }}
    </div>
    <div class="alert-content">
        <p class="pe-paragraph--last">{{alert.success.content}}.</p>
    </div>
</div>