.pe-proto {
  &.forms {
	max-width:320px;
	.condition-one {
	  margin:em(20) 0;
	}
	.pe-paragraph {
	  margin-bottom:em(30);
	}
	.input {
	  margin-bottom:em(40);
	}
	button {
	  width:100%;
	}
  }
}
