@mixin pe-copy-small {
  @include pe-copy;
  font-size: 14px;
  line-height: 20px;
}

@mixin pe-code {
  @include pe-copy-small;
  font-family: monospace;
  color: #AEAEAE;
  background-color: #424242;
  padding: 10px 10px 10px 20px;
}
