@mixin pe-ulist {
  padding-left: 26px;
  margin: 0;

  ul,
  ol {
    padding-left: 20px;
  }

  li + li {
    margin-top: 6px;
  }

  & > li > ol {
    margin-top: 6px;
    list-style-type: lower-alpha;
  }

  & > li > ul {
    margin-top: 6px;
    list-style-type: circle;

    & > li > ul {
      margin-top: 6px;
      list-style-type: square;
    }
  }
}

@mixin pe-olist {
  padding-left: 26px;
  margin: 0;

  ol {
    padding-left: 20px;
  }

  li + li {
    margin-top: 6px;
  }

  & > li > ol {
    margin-top: 6px;
    list-style-type: lower-alpha;

    & > li > ol {
      margin-top: 6px;
      list-style-type: lower-roman;
    }
  }
}

@mixin redline-list {
  @include clearfix;

  dt {
    border-top: 1px solid pe-color(hairline-gray);
    width: 40%;
    @include pe-responsive-breakpoint(lg) {
      font-style: italic;
      width: 100%;
    }
    @include pe-responsive-breakpoint(xl) {
      font-style: normal;
      width: 40%;
    }
  }

  dd {
    width: 60%;
    @include pe-responsive-breakpoint(lg) { width: 100%; }
    @include pe-responsive-breakpoint(xl) { width: 60%; }

    ul {
      margin: 0;
      li + li {
        margin-top: 8px;
      }
    }
  }

  dt, dd {
    float: left;
    @include pe-responsive-breakpoint(lg) { float: none; }
    @include pe-responsive-breakpoint(xl) { float: left; }
    padding: 10px 0;
    margin: 0;
    @extend .pe-label--small;
    border-top: 1px solid pe-color(hairline-gray);
    @include pe-responsive-breakpoint(lg) { border-top: none; }
    @include pe-responsive-breakpoint(xl) { border-top: 1px solid pe-color(hairline-gray); }
  }

  dt:first-of-type,
  dd:first-of-type {
    padding-top: 0;
    border-top: none;
  }

  dd + dt {
    clear: both;
  }
}
